* {
  text-decoration: none;
  /*Remove Underline from hyperlinks*/
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none; }

html {
  font-size: 62.5%;
  /*Font Size = 10px*/
  font-family: 'Raleway',sans-serif; }

.title {
  font-size: 12rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3.5rem;
  font-weight: 900; }
  @media screen and (max-width: 900px) {
    .title {
      letter-spacing: 1.5rem; } }
  @media screen and (max-width: 600px) {
    .title {
      font-size: 10rem;
      letter-spacing: 0; } }
  @media screen and (max-width: 450px) {
    .title {
      font-size: 8rem;
      margin-top: 5rem; } }
  @media screen and (max-width: 350px) {
    .title {
      font-size: 6rem;
      margin-top: 2rem; } }
  @media screen and (min-width: 1400px) {
    .title {
      padding: 2rem;
      font-size: 15rem;
      margin-top: 7rem; } }
  @media screen and (min-width: 2560px) {
    .title {
      font-size: 25rem;
      margin-top: 7rem; } }
  @media screen and (min-width: 3840px) {
    .title {
      margin-top: 25rem;
      font-size: 35rem; } }

.tagline {
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  padding: 2rem;
  padding-bottom: 4rem;
  font-weight: 900;
  margin-bottom: 14rem; }
  @media screen and (max-width: 900px) {
    .tagline {
      font-size: 3.5rem;
      margin-bottom: 10rem; } }
  @media screen and (max-width: 600px) {
    .tagline {
      font-size: 3rem; } }
  @media screen and (max-width: 450px) {
    .tagline {
      font-size: 2.2rem; } }
  @media screen and (max-width: 350px) {
    .tagline {
      font-size: 2rem;
      margin-bottom: 6rem; } }
  @media screen and (min-width: 1920px) {
    .tagline {
      margin-bottom: 25rem;
      font-size: 5rem; } }
  @media screen and (min-width: 2560px) {
    .tagline {
      margin-bottom: 40rem;
      font-size: 7rem; } }
  @media screen and (min-width: 3840px) {
    .tagline {
      font-size: 10rem;
      margin-bottom: 50rem; } }

.heading {
  font-size: 10rem;
  color: black;
  font-weight: 800;
  padding: 3rem; }
  @media screen and (max-width: 600px) {
    .heading {
      font-size: 8.33333rem;
      letter-spacing: 0; } }
  @media screen and (max-width: 450px) {
    .heading {
      font-size: 6.66666rem;
      margin-top: 5rem; } }
  @media screen and (max-width: 350px) {
    .heading {
      font-size: 5rem;
      margin-top: 2rem; } }
  @media screen and (min-width: 1400px) {
    .heading {
      padding: 2rem;
      font-size: 12.5rem;
      margin-top: 7rem; } }
  @media screen and (min-width: 2560px) {
    .heading {
      font-size: 20.833rem;
      margin-top: 7rem; } }
  @media screen and (min-width: 3840px) {
    .heading {
      margin-top: 20rem;
      font-size: 29.166rem; } }

.subheading {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: gray;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 900px) {
    .subheading {
      font-size: 2.625rem; } }
  @media screen and (max-width: 600px) {
    .subheading {
      font-size: 3rem; } }
  @media screen and (max-width: 450px) {
    .subheading {
      font-size: 2.1rem; } }
  @media screen and (max-width: 350px) {
    .subheading {
      font-size: 2rem; } }
  @media screen and (min-width: 1920px) {
    .subheading {
      font-size: 3.75rem;
      padding: 5rem; } }
  @media screen and (min-width: 2560px) {
    .subheading {
      font-size: 5.25rem;
      padding: 6.5rem; } }
  @media screen and (min-width: 3840px) {
    .subheading {
      font-size: 7.5rem;
      padding: 9rem; } }

.subject-heading {
  font-size: 8rem;
  padding: 3rem; }
  @media screen and (max-width: 600px) {
    .subject-heading {
      font-size: 6rem;
      letter-spacing: 0; } }
  @media screen and (max-width: 450px) {
    .subject-heading {
      font-size: 3.15rem;
      padding: 1.3rem 0; } }
  @media screen and (max-width: 350px) {
    .subject-heading {
      font-size: 3rem;
      padding: 1.5rem 0rem; } }
  @media screen and (min-width: 1400px) {
    .subject-heading {
      font-size: 12.5rem;
      padding: 4rem; } }
  @media screen and (min-width: 2560px) {
    .subject-heading {
      font-size: 19.833rem;
      padding: 6rem; } }
  @media screen and (min-width: 3840px) {
    .subject-heading {
      font-size: 29.166rem;
      padding: 8rem; } }

.quote {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  padding: 3rem 3rem 5rem 3rem;
  opacity: 0.1;
  text-align: center;
  transition: all 1s; }
  .quote:hover {
    opacity: 0.6; }
  @media screen and (max-width: 600px) {
    .quote {
      font-size: 3.5rem;
      letter-spacing: 0;
      padding: 7rem; } }
  @media screen and (max-width: 450px) {
    .quote {
      font-size: 2.33333rem;
      padding: 4rem; } }
  @media screen and (max-width: 350px) {
    .quote {
      font-size: 2.1875rem; } }
  @media screen and (min-width: 1400px) {
    .quote {
      padding: 8rem;
      font-size: 5.325rem; } }
  @media screen and (min-width: 2560px) {
    .quote {
      padding: 7rem;
      font-size: 8.02394rem; } }
  @media screen and (min-width: 3840px) {
    .quote {
      padding: 20rem;
      font-size: 12.76013rem; } }

.more-stuff__heading {
  font-size: 8rem;
  padding: 2rem; }
  @media screen and (max-width: 600px) {
    .more-stuff__heading {
      font-size: 6rem;
      letter-spacing: 0; } }
  @media screen and (max-width: 450px) {
    .more-stuff__heading {
      font-size: 4.5rem; } }
  @media screen and (max-width: 360px) {
    .more-stuff__heading {
      font-size: 3.75rem; } }
  @media screen and (min-width: 1400px) {
    .more-stuff__heading {
      font-size: 12.5rem;
      padding: 4rem; } }
  @media screen and (min-width: 2560px) {
    .more-stuff__heading {
      font-size: 19.833rem;
      padding: 6rem; } }
  @media screen and (min-width: 3840px) {
    .more-stuff__heading {
      font-size: 29.166rem;
      padding: 8rem; } }

.more-stuff__subheading {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: black;
  background-color: #eee;
  margin-bottom: 7rem;
  display: inline-block; }
  @media screen and (max-width: 900px) {
    .more-stuff__subheading {
      font-size: 2.625rem; } }
  @media screen and (max-width: 600px) {
    .more-stuff__subheading {
      font-size: 3rem; } }
  @media screen and (max-width: 450px) {
    .more-stuff__subheading {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 9rem; } }
  @media screen and (max-width: 360px) {
    .more-stuff__subheading {
      font-size: 1.7rem;
      margin-bottom: 7rem; } }
  @media screen and (min-width: 1920px) {
    .more-stuff__subheading {
      font-size: 3.75rem;
      margin: 5rem 0; } }
  @media screen and (min-width: 2560px) {
    .more-stuff__subheading {
      font-size: 5.25rem;
      padding: 6.5rem; } }
  @media screen and (min-width: 3840px) {
    .more-stuff__subheading {
      font-size: 7.5rem;
      padding: 9rem; } }

.btn__more--title {
  font-size: 3rem; }
  @media screen and (max-width: 600px) {
    .btn__more--title {
      font-size: 2.7rem; } }
  @media screen and (max-width: 450px) {
    .btn__more--title {
      font-size: 2.5rem;
      padding: .5rem !important; } }
  @media screen and (max-width: 360px) {
    .btn__more--title {
      font-size: 1.8rem; } }
  @media screen and (min-width: 1400px) {
    .btn__more--title {
      font-size: 4rem; } }
  @media screen and (min-width: 2560px) {
    .btn__more--title {
      font-size: 6rem; } }
  @media screen and (min-width: 3840px) {
    .btn__more--title {
      font-size: 9rem; } }

.btn__more--data {
  font-size: 2rem; }
  @media screen and (max-width: 600px) {
    .btn__more--data {
      font-size: 2rem; } }
  @media screen and (min-width: 1400px) {
    .btn__more--data {
      font-size: 3rem;
      padding: 1rem; } }
  @media screen and (min-width: 2560px) {
    .btn__more--data {
      font-size: 4rem; } }
  @media screen and (min-width: 3840px) {
    .btn__more--data {
      font-size: 5rem; } }

.bold {
  color: inherit;
  font-size: inherit;
  font-weight: 900; }

.thin {
  color: inherit;
  font-size: inherit;
  font-weight: 100; }

.remove-border-bottom {
  border-bottom: none !important; }

.remove-border-right {
  border-right: none !important; }

@media screen and (max-width: 600px) {
  .hide-phone {
    visibility: hidden;
    position: absolute; } }

@media screen and (min-width: 601px) {
  .hide-desktop {
    visibility: hidden;
    position: absolute; } }

.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../img/landingBGInteractSegment.svg");
  background-size: cover;
  background-position: 0 17vh;
  text-align: center;
  color: black;
  position: relative;
  padding-top: 17rem; }

.more-stuff {
  height: 100vh;
  background-image: url("../img/landingBGInteractSegment.svg");
  background-size: cover;
  background-position: 0 50vh; }
  @media screen and (max-width: 600px) {
    .more-stuff {
      background-position: 0 55vh; } }

.first-year {
  height: 100vh;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  padding: 1.5rem 0; }

.btn__subject--chem {
  background-color: #4F84C4 !important; }
  .btn__subject--chem:hover {
    color: #4F84C4 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--com {
  background-color: #bc243c !important; }
  .btn__subject--com:hover {
    color: #bc243c !important;
    background-color: #f5f5f5 !important; }

.btn__subject--cs1 {
  background-color: #005960 !important; }
  .btn__subject--cs1:hover {
    color: #005960 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--cs2 {
  background-color: #D2691E !important; }
  .btn__subject--cs2:hover {
    color: #D2691E !important;
    background-color: #f5f5f5 !important; }

.btn__subject--draw1 {
  background-color: #2E4A62 !important; }
  .btn__subject--draw1:hover {
    color: #2E4A62 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--draw2 {
  background-color: #4f1a5f !important; }
  .btn__subject--draw2:hover {
    color: #4f1a5f !important;
    background-color: #f5f5f5 !important; }

.btn__subject--electrical {
  background-color: #944743 !important; }
  .btn__subject--electrical:hover {
    color: #944743 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--electronics {
  background-color: #c47fad !important; }
  .btn__subject--electronics:hover {
    color: #c47fad !important;
    background-color: #f5f5f5 !important; }

.btn__subject--env {
  background-color: #6B5B95 !important; }
  .btn__subject--env:hover {
    color: #6B5B95 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--math1 {
  background-color: #E94B3C !important; }
  .btn__subject--math1:hover {
    color: #E94B3C !important;
    background-color: #f5f5f5 !important; }

.btn__subject--math2 {
  background-color: #6F9FD8 !important; }
  .btn__subject--math2:hover {
    color: #6F9FD8 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--mech {
  background-color: #ed9302 !important; }
  .btn__subject--mech:hover {
    color: #ed9302 !important;
    background-color: #f5f5f5 !important; }

.btn__subject--phy {
  background-color: #79C753 !important; }
  .btn__subject--phy:hover {
    color: #79C753 !important;
    background-color: #f5f5f5 !important; }

.second-year {
  height: 100vh;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  padding: 1rem 0; }

.btn__stream--biotech {
  background-color: #79C753 !important; }
  .btn__stream--biotech:hover {
    color: #79C753 !important;
    background-color: #f5f5f5 !important; }

.btn__stream--chemical {
  background-color: #E94B3C !important; }
  .btn__stream--chemical:hover {
    color: #E94B3C !important;
    background-color: #f5f5f5 !important; }

.btn__stream--civil {
  background-color: #6F9FD8 !important; }
  .btn__stream--civil:hover {
    color: #6F9FD8 !important;
    background-color: #f5f5f5 !important; }

.btn__stream--cse {
  background-color: #D2691E !important; }
  .btn__stream--cse:hover {
    color: #D2691E !important;
    background-color: #f5f5f5 !important; }

.btn__stream--ece {
  background-color: #6B5B95 !important; }
  .btn__stream--ece:hover {
    color: #6B5B95 !important;
    background-color: #f5f5f5 !important; }

.btn__stream--ecs {
  background-color: #005960 !important; }
  .btn__stream--ecs:hover {
    color: #005960 !important;
    background-color: #f5f5f5 !important; }

.btn__stream--eic {
  background-color: #c47fad !important; }
  .btn__stream--eic:hover {
    color: #c47fad !important;
    background-color: #f5f5f5 !important; }

.btn__stream--electrical {
  background-color: #944743 !important; }
  .btn__stream--electrical:hover {
    color: #944743 !important;
    background-color: #f5f5f5 !important; }

.btn__stream--mechanical {
  background-color: #2E4A62 !important; }
  .btn__stream--mechanical:hover {
    color: #2E4A62 !important;
    background-color: #f5f5f5 !important; }

.btn__stream--mechatronics {
  background-color: #4f1a5f !important; }
  .btn__stream--mechatronics:hover {
    color: #4f1a5f !important;
    background-color: #f5f5f5 !important; }

.btn__stream--production {
  background-color: #bc243c !important; }
  .btn__stream--production:hover {
    color: #bc243c !important;
    background-color: #f5f5f5 !important; }

body {
  height: 100%;
  background-color: #eee; }

.menu__subject--chem {
  background-color: #4F84C4; }

.menu__subject--com {
  background-color: #bc243c; }

.menu__subject--cs1 {
  background-color: #005960; }

.menu__subject--cs2 {
  background-color: #D2691E; }

.menu__subject--draw1 {
  background-color: #2E4A62; }

.menu__subject--draw2 {
  background-color: #4f1a5f; }

.menu__subject--electrical {
  background-color: #944743; }

.menu__subject--electronics {
  background-color: #c47fad; }

.menu__subject--env {
  background-color: #6B5B95; }

.menu__subject--math1 {
  background-color: #E94B3C; }

.menu__subject--math2 {
  background-color: #6F9FD8; }

.menu__subject--mech {
  background-color: #ed9302; }

.menu__subject--phy {
  background-color: #79C753; }

.subject-heading__chem--heading-color {
  font-size: inherit;
  color: #4F84C4; }

.subject-heading__com--heading-color {
  font-size: inherit;
  color: #bc243c; }

.subject-heading__cs1--heading-color {
  font-size: inherit;
  color: #005960; }

.subject-heading__cs2--heading-color {
  font-size: inherit;
  color: #D2691E; }

.subject-heading__draw1--heading-color {
  font-size: inherit;
  color: #2E4A62; }

.subject-heading__draw2--heading-color {
  font-size: inherit;
  color: #4f1a5f; }

.subject-heading__electrical--heading-color {
  font-size: inherit;
  color: #944743; }

.subject-heading__electronics--heading-color {
  font-size: inherit;
  color: #c47fad; }

.subject-heading__env--heading-color {
  font-size: inherit;
  color: #6B5B95; }

.subject-heading__math1--heading-color {
  font-size: inherit;
  color: #E94B3C; }

.subject-heading__math2--heading-color {
  font-size: inherit;
  color: #6F9FD8; }

.subject-heading__mech--heading-color {
  font-size: inherit;
  color: #ed9302; }

.subject-heading__phy--heading-color {
  font-size: inherit;
  color: #79C753; }

.btn__subject--chem-site {
  background-color: #3f77bb !important; }

.btn__subject--chem-syllabus {
  background-color: #759fd1 !important;
  border-right: 1px solid #4F84C4; }

.btn__subject--chem-books {
  background-color: #759fd1 !important; }

.btn__subject--chem-notes {
  background-color: #6291ca !important; }

.btn__subject--chem-tut {
  background-color: #4F84C4 !important;
  border-right: 1px solid #386ba8; }

.btn__subject--chem-tut-sol {
  background-color: #4F84C4 !important; }

.btn__subject--chem-ppr {
  background-color: #386ba8 !important; }

.btn__subject--chem-site:hover, .btn__subject--chem-syllabus:hover, .btn__subject--chem-books:hover, .btn__subject--chem-notes:hover, .btn__subject--chem-tut:hover, .btn__subject--chem-tut-sol:hover, .btn__subject--chem-ppr:hover {
  background-color: black !important;
  color: #4F84C4; }

.btn__subject--com-site {
  background-color: #a72035 !important; }

.btn__subject--com-syllabus {
  background-color: #d93a53 !important;
  border-right: 1px solid #bc243c; }

.btn__subject--com-books {
  background-color: #d93a53 !important; }

.btn__subject--com-notes {
  background-color: #d12843 !important; }

.btn__subject--com-tut {
  background-color: #bc243c !important;
  border-right: 1px solid #911c2e; }

.btn__subject--com-tut-sol {
  background-color: #bc243c !important; }

.btn__subject--com-ppr {
  background-color: #911c2e !important; }

.btn__subject--com-site:hover, .btn__subject--com-syllabus:hover, .btn__subject--com-books:hover, .btn__subject--com-notes:hover, .btn__subject--com-tut:hover, .btn__subject--com-tut-sol:hover, .btn__subject--com-ppr:hover {
  background-color: black !important;
  color: #bc243c; }

.btn__subject--cs1-site {
  background-color: #004147 !important; }

.btn__subject--cs1-syllabus {
  background-color: #008893 !important;
  border-right: 1px solid #005960; }

.btn__subject--cs1-books {
  background-color: #008893 !important; }

.btn__subject--cs1-notes {
  background-color: #00717a !important; }

.btn__subject--cs1-tut {
  background-color: #005960 !important;
  border-right: 1px solid #002a2d; }

.btn__subject--cs1-tut-sol {
  background-color: #005960 !important; }

.btn__subject--cs1-ppr {
  background-color: #002a2d !important; }

.btn__subject--cs1-site:hover, .btn__subject--cs1-syllabus:hover, .btn__subject--cs1-books:hover, .btn__subject--cs1-notes:hover, .btn__subject--cs1-tut:hover, .btn__subject--cs1-tut-sol:hover, .btn__subject--cs1-ppr:hover {
  background-color: black !important;
  color: #005960; }

.btn__subject--cs2-site {
  background-color: #bc5e1b !important; }

.btn__subject--cs2-syllabus {
  background-color: #e4843f !important;
  border-right: 1px solid #D2691E; }

.btn__subject--cs2-books {
  background-color: #e4843f !important; }

.btn__subject--cs2-notes {
  background-color: #e07529 !important; }

.btn__subject--cs2-tut {
  background-color: #D2691E !important;
  border-right: 1px solid #a55318; }

.btn__subject--cs2-tut-sol {
  background-color: #D2691E !important; }

.btn__subject--cs2-ppr {
  background-color: #a55318 !important; }

.btn__subject--cs2-site:hover, .btn__subject--cs2-syllabus:hover, .btn__subject--cs2-books:hover, .btn__subject--cs2-notes:hover, .btn__subject--cs2-tut:hover, .btn__subject--cs2-tut-sol:hover, .btn__subject--cs2-ppr:hover {
  background-color: black !important;
  color: #D2691E; }

.btn__subject--draw1-site {
  background-color: #263d51 !important; }

.btn__subject--draw1-syllabus {
  background-color: #3e6485 !important;
  border-right: 1px solid #2E4A62; }

.btn__subject--draw1-books {
  background-color: #3e6485 !important; }

.btn__subject--draw1-notes {
  background-color: #365773 !important; }

.btn__subject--draw1-tut {
  background-color: #2E4A62 !important;
  border-right: 1px solid #1e303f; }

.btn__subject--draw1-tut-sol {
  background-color: #2E4A62 !important; }

.btn__subject--draw1-ppr {
  background-color: #1e303f !important; }

.btn__subject--draw1-site:hover, .btn__subject--draw1-syllabus:hover, .btn__subject--draw1-books:hover, .btn__subject--draw1-notes:hover, .btn__subject--draw1-tut:hover, .btn__subject--draw1-tut-sol:hover, .btn__subject--draw1-ppr:hover {
  background-color: black !important;
  color: #2E4A62; }

.btn__subject--draw2-site {
  background-color: #3e154b !important; }

.btn__subject--draw2-syllabus {
  background-color: #702587 !important;
  border-right: 1px solid #4f1a5f; }

.btn__subject--draw2-books {
  background-color: #702587 !important; }

.btn__subject--draw2-notes {
  background-color: #601f73 !important; }

.btn__subject--draw2-tut {
  background-color: #4f1a5f !important;
  border-right: 1px solid #2e0f37; }

.btn__subject--draw2-tut-sol {
  background-color: #4f1a5f !important; }

.btn__subject--draw2-ppr {
  background-color: #2e0f37 !important; }

.btn__subject--draw2-site:hover, .btn__subject--draw2-syllabus:hover, .btn__subject--draw2-books:hover, .btn__subject--draw2-notes:hover, .btn__subject--draw2-tut:hover, .btn__subject--draw2-tut-sol:hover, .btn__subject--draw2-ppr:hover {
  background-color: black !important;
  color: #4f1a5f; }

.btn__subject--electrical-site {
  background-color: #823f3b !important; }

.btn__subject--electrical-syllabus {
  background-color: #b35c57 !important;
  border-right: 1px solid #944743; }

.btn__subject--electrical-books {
  background-color: #b35c57 !important; }

.btn__subject--electrical-notes {
  background-color: #a64f4b !important; }

.btn__subject--electrical-tut {
  background-color: #944743 !important;
  border-right: 1px solid #713633; }

.btn__subject--electrical-tut-sol {
  background-color: #944743 !important; }

.btn__subject--electrical-ppr {
  background-color: #713633 !important; }

.btn__subject--electrical-site:hover, .btn__subject--electrical-syllabus:hover, .btn__subject--electrical-books:hover, .btn__subject--electrical-notes:hover, .btn__subject--electrical-tut:hover, .btn__subject--electrical-tut-sol:hover, .btn__subject--electrical-ppr:hover {
  background-color: black !important;
  color: #944743; }

.btn__subject--electronics-site {
  background-color: #bc6ea2 !important; }

.btn__subject--electronics-syllabus {
  background-color: #d4a2c3 !important;
  border-right: 1px solid #c47fad; }

.btn__subject--electronics-books {
  background-color: #d4a2c3 !important; }

.btn__subject--electronics-notes {
  background-color: #cc90b8 !important; }

.btn__subject--electronics-tut {
  background-color: #c47fad !important;
  border-right: 1px solid #b45c97; }

.btn__subject--electronics-tut-sol {
  background-color: #c47fad !important; }

.btn__subject--electronics-ppr {
  background-color: #b45c97 !important; }

.btn__subject--electronics-site:hover, .btn__subject--electronics-syllabus:hover, .btn__subject--electronics-books:hover, .btn__subject--electronics-notes:hover, .btn__subject--electronics-tut:hover, .btn__subject--electronics-tut-sol:hover, .btn__subject--electronics-ppr:hover {
  background-color: black !important;
  color: #c47fad; }

.btn__subject--env-site {
  background-color: #605185 !important; }

.btn__subject--env-syllabus {
  background-color: #8677ac !important;
  border-right: 1px solid #6B5B95; }

.btn__subject--env-books {
  background-color: #8677ac !important; }

.btn__subject--env-notes {
  background-color: #7867a2 !important; }

.btn__subject--env-tut {
  background-color: #6B5B95 !important;
  border-right: 1px solid #544875; }

.btn__subject--env-tut-sol {
  background-color: #6B5B95 !important; }

.btn__subject--env-ppr {
  background-color: #544875 !important; }

.btn__subject--env-site:hover, .btn__subject--env-syllabus:hover, .btn__subject--env-books:hover, .btn__subject--env-notes:hover, .btn__subject--env-tut:hover, .btn__subject--env-tut-sol:hover, .btn__subject--env-ppr:hover {
  background-color: black !important;
  color: #6B5B95; }

.btn__subject--math1-site {
  background-color: #e63625 !important; }

.btn__subject--math1-syllabus {
  background-color: #ee756a !important;
  border-right: 1px solid #E94B3C; }

.btn__subject--math1-books {
  background-color: #ee756a !important; }

.btn__subject--math1-notes {
  background-color: #ec6053 !important; }

.btn__subject--math1-tut {
  background-color: #E94B3C !important;
  border-right: 1px solid #d92919; }

.btn__subject--math1-tut-sol {
  background-color: #E94B3C !important; }

.btn__subject--math1-ppr {
  background-color: #d92919 !important; }

.btn__subject--math1-site:hover, .btn__subject--math1-syllabus:hover, .btn__subject--math1-books:hover, .btn__subject--math1-notes:hover, .btn__subject--math1-tut:hover, .btn__subject--math1-tut-sol:hover, .btn__subject--math1-ppr:hover {
  background-color: black !important;
  color: #E94B3C; }

.btn__subject--math2-site {
  background-color: #5b92d3 !important; }

.btn__subject--math2-syllabus {
  background-color: #97bae3 !important;
  border-right: 1px solid #6F9FD8; }

.btn__subject--math2-books {
  background-color: #97bae3 !important; }

.btn__subject--math2-notes {
  background-color: #83acdd !important; }

.btn__subject--math2-tut {
  background-color: #6F9FD8 !important;
  border-right: 1px solid #4784cd; }

.btn__subject--math2-tut-sol {
  background-color: #6F9FD8 !important; }

.btn__subject--math2-ppr {
  background-color: #4784cd !important; }

.btn__subject--math2-site:hover, .btn__subject--math2-syllabus:hover, .btn__subject--math2-books:hover, .btn__subject--math2-notes:hover, .btn__subject--math2-tut:hover, .btn__subject--math2-tut-sol:hover, .btn__subject--math2-ppr:hover {
  background-color: black !important;
  color: #6F9FD8; }

.btn__subject--mech-site {
  background-color: #d48302 !important; }

.btn__subject--mech-syllabus {
  background-color: #fdaa25 !important;
  border-right: 1px solid #ed9302; }

.btn__subject--mech-books {
  background-color: #fdaa25 !important; }

.btn__subject--mech-notes {
  background-color: #fda00c !important; }

.btn__subject--mech-tut {
  background-color: #ed9302 !important;
  border-right: 1px solid #ba7402; }

.btn__subject--mech-tut-sol {
  background-color: #ed9302 !important; }

.btn__subject--mech-ppr {
  background-color: #ba7402 !important; }

.btn__subject--mech-site:hover, .btn__subject--mech-syllabus:hover, .btn__subject--mech-books:hover, .btn__subject--mech-notes:hover, .btn__subject--mech-tut:hover, .btn__subject--mech-tut-sol:hover, .btn__subject--mech-ppr:hover {
  background-color: black !important;
  color: #ed9302; }

.btn__subject--phy-site {
  background-color: #6ac140 !important; }

.btn__subject--phy-syllabus {
  background-color: #97d479 !important;
  border-right: 1px solid #79C753; }

.btn__subject--phy-books {
  background-color: #97d479 !important; }

.btn__subject--phy-notes {
  background-color: #88cd66 !important; }

.btn__subject--phy-tut {
  background-color: #79C753 !important;
  border-right: 1px solid #5fae39; }

.btn__subject--phy-tut-sol {
  background-color: #79C753 !important; }

.btn__subject--phy-ppr {
  background-color: #5fae39 !important; }

.btn__subject--phy-site:hover, .btn__subject--phy-syllabus:hover, .btn__subject--phy-books:hover, .btn__subject--phy-notes:hover, .btn__subject--phy-tut:hover, .btn__subject--phy-tut-sol:hover, .btn__subject--phy-ppr:hover {
  background-color: black !important;
  color: #79C753; }

.btn {
  width: 100%;
  padding: 1.7rem;
  font-size: 3rem;
  height: 100%;
  background-color: #000;
  color: #fff;
  transition: all .5s;
  text-align: center; }
  .btn__first-year, .btn__second-year {
    background-color: #fff; }
    .btn__first-year:hover, .btn__second-year:hover {
      background-color: rgba(255, 255, 255, 0.7); }
    .btn__first-year--text, .btn__second-year--text {
      -webkit-background-clip: text;
      color: transparent;
      font-size: inherit; }
      .btn__first-year--text:hover, .btn__second-year--text:hover {
        color: white;
        font-weight: 900; }
    @media screen and (max-width: 600px) {
      .btn__first-year, .btn__second-year {
        font-size: 2.7rem; } }
    @media screen and (max-width: 450px) {
      .btn__first-year, .btn__second-year {
        font-size: 2.5rem; } }
    @media screen and (max-width: 350px) {
      .btn__first-year, .btn__second-year {
        font-size: 2rem;
        font-weight: 900; } }
    @media screen and (min-width: 1400px) {
      .btn__first-year, .btn__second-year {
        font-size: 4rem; } }
    @media screen and (min-width: 2560px) {
      .btn__first-year, .btn__second-year {
        font-size: 6rem; } }
    @media screen and (min-width: 3840px) {
      .btn__first-year, .btn__second-year {
        font-size: 9rem; } }
  @media screen and (max-width: 900px) {
    .btn__first-year {
      margin-bottom: 2rem; } }
  .btn__first-year--text {
    background-image: linear-gradient(to right, #5172FE 10%, #5990FD, #7ACAFE 40%, #CE93FF, #A452D2, #9645FA); }
  .btn__second-year--text {
    background-image: linear-gradient(to right, #FF463B, #FE5D38, #FB9D34 30%, #FFC338, #FCFC3D); }
  @media screen and (max-width: 600px) {
    .btn__subject, .btn__stream {
      font-size: 2.7rem; } }
  @media screen and (max-width: 450px) {
    .btn__subject, .btn__stream {
      font-size: 2.5rem; } }
  @media screen and (max-width: 350px) {
    .btn__subject, .btn__stream {
      font-size: 2rem; } }
  @media screen and (min-width: 1400px) {
    .btn__subject, .btn__stream {
      font-size: 4rem;
      padding: 3rem; } }
  @media screen and (min-width: 2560px) {
    .btn__subject, .btn__stream {
      font-size: 6rem;
      padding: 3.5rem; } }
  @media screen and (min-width: 3840px) {
    .btn__subject, .btn__stream {
      font-size: 9rem;
      padding: 4rem; } }
  .btn__more {
    text-align: center;
    background-color: #ccc;
    padding: 3rem;
    margin-bottom: 1rem;
    color: #000;
    padding: 1.5rem 0;
    transition: all .3s; }
    .btn__more:hover {
      background-color: rgba(238, 238, 238, 0.5);
      box-shadow: 0rem 0rem 6rem rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 450px) {
      .btn__more {
        padding: .9rem; } }
    @media screen and (max-width: 350px) {
      .btn__more {
        padding: .7rem; } }
    @media screen and (min-width: 1400px) {
      .btn__more {
        margin-top: 2rem; } }
    @media screen and (min-width: 2560px) {
      .btn__more {
        margin-top: 4rem; } }
    @media screen and (min-width: 3840px) {
      .btn__more {
        margin-top: 6rem; } }

.menu__subject {
  cursor: pointer;
  width: 8rem;
  float: left;
  padding: 1rem;
  margin: 4rem 2rem 2rem 4rem;
  transition: all .5s;
  border-radius: 50%; }
  .menu__subject:hover {
    transform: scale(1.2);
    border-radius: 50%;
    background-color: #eee; }
  @media screen and (max-width: 600px) {
    .menu__subject {
      width: 6rem;
      padding: .75rem; } }
  @media screen and (max-width: 450px) {
    .menu__subject {
      padding: .525rem;
      width: 4rem;
      margin: 1.5rem; } }
  @media screen and (max-width: 350px) {
    .menu__subject {
      padding: .4375rem;
      width: 3.5rem; } }
  @media screen and (min-width: 1400px) {
    .menu__subject {
      width: 12.5rem;
      padding: 1.56rem;
      margin: 5rem; } }
  @media screen and (min-width: 2560px) {
    .menu__subject {
      width: 20.833rem;
      padding: 2.6rem;
      margin: 8rem; } }
  @media screen and (min-width: 3840px) {
    .menu__subject {
      width: 29.166rem;
      padding: 3.75rem;
      margin: 10rem; } }

/*Scrollbar Styling Starts*/
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #aaa; }

::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #777; }

/*Scrollbar Styling Ends*/
/*Grid System with Media Query*/
.col {
  float: left;
  box-sizing: border-box; }

@media screen and (max-width: 1200px) {
  .row {
    transform: scale(0.87); }
  services i {
    margin-left: 10%; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.662%; }
  .col-md-10 {
    width: 83.332%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.662%; }
  .col-md-7 {
    width: 58.331%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.662%; }
  .col-md-4 {
    width: 33.332%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.662%; }
  .col-md-1 {
    width: 8.332%; } }

@media screen and (max-width: 900px) {
  .landing {
    background-position: 0 40vh; }
    .landing__subheading {
      padding-bottom: 0; }
    .landing__btn {
      margin-top: 11rem; }
      .landing__btn--first-year {
        margin-bottom: 1rem; }
  .about-us {
    padding: 1rem;
    padding-top: 2rem; }
    .about-us__heading {
      padding: 1rem;
      font-size: 4rem; }
  .services__box-text {
    position: absolute;
    visibility: hidden; }
  .services__box-heading {
    visibility: visible; }
  .services i {
    position: relative;
    top: -25%;
    width: 100%;
    text-align: center; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.662%; }
  .col-sm-10 {
    width: 83.332%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.662%; }
  .col-sm-7 {
    width: 58.331%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.662%; }
  .col-sm-4 {
    width: 33.332%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.662%; }
  .col-sm-1 {
    width: 8.332%; } }

@media screen and (max-width: 600px) {
  .landing__heading {
    letter-spacing: 1rem; }
  .landing__subheading {
    font-size: 3.5rem; }
  .landing__btn {
    margin-top: 9rem; }
    .landing__btn--first-year {
      margin-bottom: 1rem; }
  .about-us {
    padding: 1rem;
    padding-top: 2rem; }
    .about-us__heading {
      padding: .5rem;
      font-size: 3.3rem; }
    .about-us__subheading {
      font-size: 2.7rem; }
  .services__heading {
    font-size: 6rem; }
  .services__box i {
    font-size: 5.5rem; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.662%; }
  .col-xs-10 {
    width: 83.332%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.662%; }
  .col-xs-7 {
    width: 58.331%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.662%; }
  .col-xs-4 {
    width: 33.332%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.662%; }
  .col-xs-1 {
    width: 8.332%; } }

@media screen and (max-width: 505px) {
  * {
    width: 100%; }
  .landing__heading {
    font-size: 10rem; }
  .landing__subheading {
    font-size: 3rem; }
  .about-us__subheading {
    font-size: 2rem; }
  .services__heading {
    font-size: 5rem; }
  .services__box-heading {
    font-size: 80%; } }

@media screen and (min-width: 1200px) {
  .row {
    transform: scale(0.87); }
  .row {
    transform: scale(0.87); }
  .services__heading {
    padding-bottom: 6rem; }
  .services__box-text {
    margin: 0 auto;
    width: 400px; }
  .services i {
    margin-left: 10%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.662%; }
  .col-lg-10 {
    width: 83.332%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.662%; }
  .col-lg-7 {
    width: 58.331%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.662%; }
  .col-lg-4 {
    width: 33.332%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.662%; }
  .col-lg-1 {
    width: 8.332%; } }
