* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none; }

body {
  background-color: #eee;
  animation: fadeIn 2s; }

nav {
  z-index: 1;
  position: absolute;
  top: 5vh;
  left: 0;
  display: none;
  height: 90vh;
  width: 100vw; }

.nav__carousel {
    /* display: inline-block; */
    margin-left: 40vw;
    visibility: hidden;
    margin-top: 25vh;
    height: 30vh;
    width: 55vw;
    color: white;
    background-color: rgba(247, 247, 247, 0.5);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 30vh;
    font-size: 6rem; }

.nav__fiddler {
    position: relative;
    overflow-x: hidden;
    display: inline-block;
    margin-left: 50vw;
    margin-top: 5vh;
    height: 20vh;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right, #eee 0%, #eee 20%, #777 20.01%, #777 79.99%, #eee 80%, #eee 100%);
    width: 35vw;
    border-radius: 10rem;
  /* border: 1px solid white; */ }

.nav__fiddlerLeft {
    position: absolute;
    top: 0;
    left: -10%;
    width: 70%;
    height: 100%;
    background-color: #eee;
    clip-path: polygon(0 0, 71% 0, 100% 100%, 0 100%); }

.nav__fiddlerRight {
    position: absolute;
    top: 0;
    right: -10%;
    background-color: #eee;
    width: 70%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 100%); }

.nav__fiddlerLeft__img {
    margin-top: 4rem;
    height: 6rem;
    margin-left: 40%; }

.nav__fiddlerRight__img {
    height: 6.5rem;
    margin-top: 3.5rem;
    margin-left: 42.5%; }

.nav__fiddlerLeft__head {
    margin-top: 2%;
    margin-left: 32.5%;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    /* transition: 5s; */ }

.nav__fiddlerRight__head {
    margin-top: 0.25rem;
    margin-left: 37.5%;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif; }

.nav__fiddlerLeft__text {
    text-align: center;
    position: absolute;
    display: none;
    width: 50%;
    top: 25%;
    left: 28%;
    font-size: 1.5rem; }

.nav__fiddlerRight__text {
    text-align: center;
    position: absolute;
    display: none;
    width: 50%;
    top: 25%;
    right: 29%;
    font-size: 1.5rem; }

.nav__back {
    position: absolute;
    top: 5%;
    left: 34.5%;
    height: auto;
    font-size: 6.9rem;
    font-family: 'Raleway', sans-serif;
    display: inline-block; }

.nav__back > span {
    font-weight: 600; }

#nav__varGrid__collect {
    display: none;
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 5vh;
    left: 5vw;
    height: 80vh;
    width: 27.5vw;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000; }

.nav__varGrid__hover {
    width: 4rem;
    height: 4rem;
    z-index: 3;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222); }

.nav__varGrid__hoverUp {
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translate3d(-50%, 0, 0); }

.nav__varGrid__hoverDown {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0); }

.nav__varGrid__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgba(247, 247, 247, 0.8); }

#nav__subject-btn {
    text-align: center;
    padding: 2rem;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: white;
    transition: all 0.7s;
    width: 27.5vw;
    box-shadow: 0.5rem 0.5rem #777; }

.nav__mobohandles {
    border: 2px solid white;
    border-radius: 4rem;
    display: none;
}
/*
.nav__mobohandles > img {
    margin: 2rem;
} */

.subject__ {
  /* 1.Mathematics 1 */
  /* 2.Mathematics 2 */
  /* 3.Applied Physics */
  /* 4.Applied Chemistry */
  /* 5.Professional Communication */
  /* 6.Computer Science 1 */
  /* 7.Computer Science 2 */
  /* 8.Engineering & Drawing 1 */
  /* 9.Engineering & Drawing 2 */
  /* 10.Electrical */
  /* 11.Electronics */
  /* 12.Environment */
  /* 13.Mechanics */ }
  .subject__menu {
    width: 8rem;
    float: left;
    padding: 1rem;
    margin: 4rem 2rem 2rem 4rem;
    transition: all .5s;
    border-radius: 50%; }
    .subject__menu:hover {
      transform: scale(1.2);
      border-radius: 50%;
      background-color: #eee; }
  .subject__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    padding: 3rem; }
  .subject__quote {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    padding: 4rem 3rem 7rem 3rem;
    opacity: 0.1;
    text-align: center;
    transition: all 1s; }
    .subject__quote:hover {
      opacity: 0.6; }
  .subject__btn {
    text-align: center;
    padding: 2rem;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: white;
    transition: all 0.7s; }
  .subject__1-heading-number {
    color: #E94B3C; }
  .nav__1 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(230, 36, 25, 1) 40.0001%, rgba(230, 36, 25, 1) 100%);
  }
  .nav__back__1 {
    color: #E63625; }
  .subject__1-menu {
    background-color: #E94B3C; }
  .subject__1-btn-site {
    background-color: #e63625;
    width: 100%; }
  .subject__1-btn-syllabus {
    background-color: #ec6053;
    width: 33.33%; }
  .subject__1-btn-books {
    background-color: #ee756a;
    width: 33.33%; }
  .subject__1-btn-notes {
    background-color: #ec6053;
    width: 33.33%; }
  .subject__1-btn-tut {
    background-color: #E94B3C;
    width: 50%; }
  .subject__1-btn-tut-sol {
    background-color: #E94B3C;
    width: 50%; }
  .subject__1-btn-ppr {
    background-color: #d92919;
    width: 100%; }
  .subject__1-btn-site:hover, .subject__1-btn-syllabus:hover, .subject__1-btn-books:hover, .subject__1-btn-notes:hover, .subject__1-btn-tut:hover, .subject__1-btn-tut-sol:hover, .subject__1-btn-ppr:hover {
    background-color: black;
    color: #E94B3C; }
  .subject__2-heading-number {
    color: #6F9FD8; }
  .nav__2 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(111, 159, 216, 1) 40.0001%, rgba(111, 159, 216, 1) 100%);
  }
  .nav__back__2 {
    color: #6F9FD8; }
  .subject__2-menu {
    background-color: #6F9FD8; }
  .subject__2-btn-site {
    background-color: #5b92d3;
    width: 100%; }
  .subject__2-btn-syllabus {
    background-color: #83acdd;
    width: 33.33%; }
  .subject__2-btn-books {
    background-color: #97bae3;
    width: 33.33%; }
  .subject__2-btn-notes {
    background-color: #83acdd;
    width: 33.33%; }
  .subject__2-btn-tut {
    background-color: #6F9FD8;
    width: 50%; }
  .subject__2-btn-tut-sol {
    background-color: #6F9FD8;
    width: 50%; }
  .subject__2-btn-ppr {
    background-color: #4784cd;
    width: 100%; }
  .subject__2-btn-site:hover, .subject__2-btn-syllabus:hover, .subject__2-btn-books:hover, .subject__2-btn-notes:hover, .subject__2-btn-tut:hover, .subject__2-btn-tut-sol:hover, .subject__2-btn-ppr:hover {
    background-color: black;
    color: #6F9FD8; }
  .subject__3-heading-number {
    color: #79C753; }
  .nav__3 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(121, 199, 83, 1) 40.0001%, rgba(121, 199, 83, 1) 100%);
  }
  .nav__back__3 {
    color: #79C753; }
  .subject__3-menu {
    background-color: #79C753; }
  .subject__3-btn-site {
    background-color: #6ac140;
    width: 100%; }
  .subject__3-btn-syllabus {
    background-color: #88cd66;
    width: 33.33%; }
  .subject__3-btn-books {
    background-color: #97d479;
    width: 33.33%; }
  .subject__3-btn-notes {
    background-color: #88cd66;
    width: 33.33%; }
  .subject__3-btn-tut {
    background-color: #79C753;
    width: 50%; }
  .subject__3-btn-tut-sol {
    background-color: #79C753;
    width: 50%; }
  .subject__3-btn-ppr {
    background-color: #5fae39;
    width: 100%; }
  .subject__3-btn-site:hover, .subject__3-btn-syllabus:hover, .subject__3-btn-books:hover, .subject__3-btn-notes:hover, .subject__3-btn-tut:hover, .subject__3-btn-tut-sol:hover, .subject__3-btn-ppr:hover {
    background-color: black;
    color: #79C753; }
  .subject__4-heading-number {
    color: #4F84C4; }
  .nav__4 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(79, 132, 196, 1) 40.0001%, rgba(79, 132, 196, 1) 100%);
  }
  .nav__back__4 {
    color: #4F84C4; }
  .subject__4-menu {
    background-color: #4F84C4; }
  .subject__4-btn-site {
    background-color: #3f77bb;
    width: 100%; }
  .subject__4-btn-syllabus {
    background-color: #6291ca;
    width: 33.33%; }
  .subject__4-btn-books {
    background-color: #759fd1;
    width: 33.33%; }
  .subject__4-btn-notes {
    background-color: #6291ca;
    width: 33.33%; }
  .subject__4-btn-tut {
    background-color: #4F84C4;
    width: 50%; }
  .subject__4-btn-tut-sol {
    background-color: #4F84C4;
    width: 50%; }
  .subject__4-btn-ppr {
    background-color: #386ba8;
    width: 100%; }
  .subject__4-btn-site:hover, .subject__4-btn-syllabus:hover, .subject__4-btn-books:hover, .subject__4-btn-notes:hover, .subject__4-btn-tut:hover, .subject__4-btn-tut-sol:hover, .subject__4-btn-ppr:hover {
    background-color: black;
    color: #4F84C4; }
  .subject__5-heading-number {
    color: #bc243c; }
  .nav__5 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(188, 36, 60, 1) 40.0001%, rgba(188, 36, 60, 1) 100%);
  }
  .nav__back__5 {
    color: #bc243c; }
  .subject__5-menu {
    background-color: #bc243c; }
  .subject__5-btn-site {
    background-color: #a72035;
    width: 100%; }
  .subject__5-btn-syllabus {
    background-color: #d12843;
    width: 33.33%; }
  .subject__5-btn-books {
    background-color: #d93a53;
    width: 33.33%; }
  .subject__5-btn-notes {
    background-color: #d12843;
    width: 33.33%; }
  .subject__5-btn-tut {
    background-color: #bc243c;
    width: 50%; }
  .subject__5-btn-tut-sol {
    background-color: #bc243c;
    width: 50%; }
  .subject__5-btn-ppr {
    background-color: #911c2e;
    width: 100%; }
  .subject__5-btn-site:hover, .subject__5-btn-syllabus:hover, .subject__5-btn-books:hover, .subject__5-btn-notes:hover, .subject__5-btn-tut:hover, .subject__5-btn-tut-sol:hover, .subject__5-btn-ppr:hover {
    background-color: black;
    color: #bc243c; }
  .subject__6-heading-number {
    color: #005960; }
  .nav__6 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(0, 89, 96, 1) 40.0001%, rgba(0, 89, 96, 1) 100%);
  }
  .nav__back__6 {
    color: #005960; }
  .subject__6-menu {
    background-color: #005960; }
  .subject__6-btn-site {
    background-color: #004147;
    width: 100%; }
  .subject__6-btn-syllabus {
    background-color: #00717a;
    width: 33.33%; }
  .subject__6-btn-books {
    background-color: #008893;
    width: 33.33%; }
  .subject__6-btn-notes {
    background-color: #00717a;
    width: 33.33%; }
  .subject__6-btn-tut {
    background-color: #005960;
    width: 50%; }
  .subject__6-btn-tut-sol {
    background-color: #005960;
    width: 50%; }
  .subject__6-btn-ppr {
    background-color: #002a2d;
    width: 100%; }
  .subject__6-btn-site:hover, .subject__6-btn-syllabus:hover, .subject__6-btn-books:hover, .subject__6-btn-notes:hover, .subject__6-btn-tut:hover, .subject__6-btn-tut-sol:hover, .subject__6-btn-ppr:hover {
    background-color: black;
    color: #005960; }
  .subject__7-heading-number {
    color: #D2691E; }
  .nav__7 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(210, 105, 30, 1) 40.0001%, rgba(210, 105, 30, 1) 100%);
  }
  .nav__back__7 {
    color: #D2691E; }
  .subject__7-menu {
    background-color: #D2691E; }
  .subject__7-btn-site {
    background-color: #bc5e1b;
    width: 100%; }
  .subject__7-btn-syllabus {
    background-color: #e07529;
    width: 33.33%; }
  .subject__7-btn-books {
    background-color: #e4843f;
    width: 33.33%; }
  .subject__7-btn-notes {
    background-color: #e07529;
    width: 33.33%; }
  .subject__7-btn-tut {
    background-color: #D2691E;
    width: 50%; }
  .subject__7-btn-tut-sol {
    background-color: #D2691E;
    width: 50%; }
  .subject__7-btn-ppr {
    background-color: #a55318;
    width: 100%; }
  .subject__7-btn-site:hover, .subject__7-btn-syllabus:hover, .subject__7-btn-books:hover, .subject__7-btn-notes:hover, .subject__7-btn-tut:hover, .subject__7-btn-tut-sol:hover, .subject__7-btn-ppr:hover {
    background-color: black;
    color: #D2691E; }
  .subject__8-heading-number {
    color: #2E4A62; }
  .nav__8 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(46, 74, 98, 1) 40.0001%, rgba(46, 74, 98, 1) 100%);
  }
  .nav__back__8 {
    color: #2E4A62; }
  .subject__8-menu {
    background-color: #2E4A62; }
  .subject__8-btn-site {
    background-color: #263d51;
    width: 100%; }
  .subject__8-btn-syllabus {
    background-color: #365773;
    width: 33.33%; }
  .subject__8-btn-books {
    background-color: #3e6485;
    width: 33.33%; }
  .subject__8-btn-notes {
    background-color: #365773;
    width: 33.33%; }
  .subject__8-btn-tut {
    background-color: #2E4A62;
    width: 50%; }
  .subject__8-btn-tut-sol {
    background-color: #2E4A62;
    width: 50%; }
  .subject__8-btn-ppr {
    background-color: #1e303f;
    width: 100%; }
  .subject__8-btn-site:hover, .subject__8-btn-syllabus:hover, .subject__8-btn-books:hover, .subject__8-btn-notes:hover, .subject__8-btn-tut:hover, .subject__8-btn-tut-sol:hover, .subject__8-btn-ppr:hover {
    background-color: black;
    color: #2E4A62; }
  .subject__9-heading-number {
    color: #4f1a5f; }
  .nav__9 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(79, 26, 95, 1) 40.0001%, rgba(79, 26, 95, 1) 100%);
  }
  .nav__back__9 {
    color: #4f1a5f; }
  .subject__9-menu {
    background-color: #4f1a5f; }
  .subject__9-btn-site {
    background-color: #3e154b;
    width: 100%; }
  .subject__9-btn-syllabus {
    background-color: #601f73;
    width: 33.33%; }
  .subject__9-btn-books {
    background-color: #702587;
    width: 33.33%; }
  .subject__9-btn-notes {
    background-color: #601f73;
    width: 33.33%; }
  .subject__9-btn-tut {
    background-color: #4f1a5f;
    width: 50%; }
  .subject__9-btn-tut-sol {
    background-color: #4f1a5f;
    width: 50%; }
  .subject__9-btn-ppr {
    background-color: #2e0f37;
    width: 100%; }
  .subject__9-btn-site:hover, .subject__9-btn-syllabus:hover, .subject__9-btn-books:hover, .subject__9-btn-notes:hover, .subject__9-btn-tut:hover, .subject__9-btn-tut-sol:hover, .subject__9-btn-ppr:hover {
    background-color: black;
    color: #4f1a5f; }
  .subject__10-heading-number {
    color: #944743; }
  .nav__10 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(148, 71, 67, 1) 40.0001%, rgba(148, 71, 67, 1) 100%);
  }
  .nav__back__10 {
    color: #944743; }
  .subject__10-menu {
    background-color: #944743; }
  .subject__10-btn-site {
    background-color: #823f3b;
    width: 100%; }
  .subject__10-btn-syllabus {
    background-color: #a64f4b;
    width: 33.33%; }
  .subject__10-btn-books {
    background-color: #b35c57;
    width: 33.33%; }
  .subject__10-btn-notes {
    background-color: #a64f4b;
    width: 33.33%; }
  .subject__10-btn-tut {
    background-color: #944743;
    width: 50%; }
  .subject__10-btn-tut-sol {
    background-color: #944743;
    width: 50%; }
  .subject__10-btn-ppr {
    background-color: #713633;
    width: 100%; }
  .subject__10-btn-site:hover, .subject__10-btn-syllabus:hover, .subject__10-btn-books:hover, .subject__10-btn-notes:hover, .subject__10-btn-tut:hover, .subject__10-btn-tut-sol:hover, .subject__10-btn-ppr:hover {
    background-color: black;
    color: #944743; }
  .subject__11-heading-number {
    color: #c47fad; }
  .nav__11 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(196, 127, 173, 1) 40.0001%, rgba(196, 127, 173, 1) 100%);
  }
  .nav__back__11 {
    color: #c47fad; }
  .subject__11-menu {
    background-color: #c47fad; }
  .subject__11-btn-site {
    background-color: #bc6ea2;
    width: 100%; }
  .subject__11-btn-syllabus {
    background-color: #cc90b8;
    width: 33.33%; }
  .subject__11-btn-books {
    background-color: #d4a2c3;
    width: 33.33%; }
  .subject__11-btn-notes {
    background-color: #cc90b8;
    width: 33.33%; }
  .subject__11-btn-tut {
    background-color: #c47fad;
    width: 50%; }
  .subject__11-btn-tut-sol {
    background-color: #c47fad;
    width: 50%; }
  .subject__11-btn-ppr {
    background-color: #b45c97;
    width: 100%; }
  .subject__11-btn-site:hover, .subject__11-btn-syllabus:hover, .subject__11-btn-books:hover, .subject__11-btn-notes:hover, .subject__11-btn-tut:hover, .subject__11-btn-tut-sol:hover, .subject__11-btn-ppr:hover {
    background-color: black;
    color: #c47fad; }
  .subject__12-heading-number {
    color: #6B5B95; }
  .nav__12 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(107, 91, 149, 1) 40.0001%, rgba(107, 91, 149, 1) 100%);
  }
  .nav__back__12 {
    color: #6B5B95; }
  .subject__12-menu {
    background-color: #6B5B95; }
  .subject__12-btn-site {
    background-color: #605185;
    width: 100%; }
  .subject__12-btn-syllabus {
    background-color: #7867a2;
    width: 33.33%; }
  .subject__12-btn-books {
    background-color: #8677ac;
    width: 33.33%; }
  .subject__12-btn-notes {
    background-color: #7867a2;
    width: 33.33%; }
  .subject__12-btn-tut {
    background-color: #6B5B95;
    width: 50%; }
  .subject__12-btn-tut-sol {
    background-color: #6B5B95;
    width: 50%; }
  .subject__12-btn-ppr {
    background-color: #544875;
    width: 100%; }
  .subject__12-btn-site:hover, .subject__12-btn-syllabus:hover, .subject__12-btn-books:hover, .subject__12-btn-notes:hover, .subject__12-btn-tut:hover, .subject__12-btn-tut-sol:hover, .subject__12-btn-ppr:hover {
    background-color: black;
    color: #6B5B95; }
  .subject__13-heading-number {
    color: #ed9302; }
  .nav__13 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 40%, rgba(237, 147, 2, 1) 40.0001%, rgba(237, 147, 2, 1) 100%);
  }
  .nav__back__13 {
    color: #ed9302; }
  .subject__13-menu {
    background-color: #ed9302; }
  .subject__13-btn-site {
    background-color: #d48302;
    width: 100%; }
  .subject__13-btn-syllabus {
    background-color: #fda00c;
    width: 33.33%; }
  .subject__13-btn-books {
    background-color: #fdaa25;
    width: 33.33%; }
  .subject__13-btn-notes {
    background-color: #fda00c;
    width: 33.33%; }
  .subject__13-btn-tut {
    background-color: #ed9302;
    width: 50%; }
  .subject__13-btn-tut-sol {
    background-color: #ed9302;
    width: 50%; }
  .subject__13-btn-ppr {
    background-color: #ba7402;
    width: 100%; }
  .subject__13-btn-site:hover, .subject__13-btn-syllabus:hover, .subject__13-btn-books:hover, .subject__13-btn-notes:hover, .subject__13-btn-tut:hover, .subject__13-btn-tut-sol:hover, .subject__13-btn-ppr:hover {
    background-color: black;
    color: #ed9302; }

@media screen and (max-width: 400px) {
  html {

  }
}


@media screen and (max-width: 800px) {
  .nav__carousel {
    display: none; }
  #nav__varGrid__collect {
    left: 5vw;
    width: 90vw; }
  #nav__subject-btn {
    width: 100%; }
  .nav__varGrid__hover {
    display: none; }
  .nav__fiddler {
    display: none; }
  .nav__varGrid__wrapper {
    overflow-y: scroll; }
  .nav__back {
    left: 70vw;
    font-size: 4rem;
  }
  .nav__mobohandles {
    display: block;
    margin-left: 60%;
    margin-top: 30%;
  }
  #nav__subject-btn {
    min-height: 10rem;
    line-height: 5rem;
  }
  html {
    font-size: 37.5%;
  }
  .nav__1 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 60%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(230, 36, 25, 1) 60.0001%, rgba(230, 36, 25, 1) 100%); }
  .nav__2 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(111, 159, 216, 1) 60.0001%, rgba(111, 159, 216, 1) 100%); }
  .nav__3 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(121, 199, 83, 1) 60.0001%, rgba(121, 199, 83, 1) 100%); }
  .nav__4 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(79, 132, 196, 1) 60.0001%, rgba(79, 132, 196, 1) 100%); }
  .nav__5 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(188, 36, 60, 1) 60.0001%, rgba(188, 36, 60, 1) 100%); }
  .nav__6 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(0, 89, 96, 1) 60.0001%, rgba(0, 89, 96, 1) 100%); }
  .nav__7 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(210, 105, 30, 1) 60.0001%, rgba(210, 105, 30, 1) 100%); }
  .nav__8 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(46, 74, 98, 1) 60.0001%, rgba(46, 74, 98, 1) 100%); }
  .nav__9 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 60%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(79, 26, 95, 1) 60.0001%, rgba(79, 26, 95, 1) 100%); }
  .nav__10 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(148, 71, 67, 1) 60.0001%, rgba(148, 71, 67, 1) 100%); }
  .nav__11 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 60%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(196, 127, 173, 1) 60.0001%, rgba(196, 127, 173, 1) 100%); }
  .nav__12 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 40%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(107, 91, 149, 1) 60.0001%, rgba(107, 91, 149, 1) 100%); }
  .nav__13 {
      background-image: linear-gradient( 135deg, rgba(247, 247, 247, 0.15) 60%, rgba(247, 247, 247, 0.35) 100%), linear-gradient(135deg, rgba(248, 248, 248, 0.95) 0%, rgba(248, 248, 248, 0.95) 60%, rgba(237, 147, 2, 1) 60.0001%, rgba(237, 147, 2, 1) 100%); }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 47%;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 60%;
  }
}

/*2K Resolution */
@media screen and (min-width: 2048px) {
  html {
    font-size: 90%;
  }
}

@media screen and (min-width: 2500px) {
  html {
    font-size: 120%;
  }
}

/* 4k Resolution */
@media screen and (min-width: 3600px) {
  html {
    font-size: 180%;
  }
}
