* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  user-select: none;
  font-family: 'Raleway',sans-serif; }

.stream {

  width: 100vw;
  background-color: #F5F5F5;
   }
  .stream__heading {
    font-size: 8rem;
    color: black;
    font-weight: 800;
    padding: 3rem;
  text-align: center;}
  .stream__subheading {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: gray;
    padding-bottom: 5rem;
  text-align: center; }

.semester-3{
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: gray;
  text-decoration: underline ;
  padding-bottom: 5rem;
  padding-left: 3rem;
}
.semester-4{
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: gray;
  text-decoration: underline ;
  padding-left: 3rem;
  padding-bottom: 5rem;
  padding-top: 5rem;

}

.subject-btn {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  padding: 2rem;
  margin:0rem;
  color: white;
  transition: all 0.5s;
  float: left;
  text-align: center;
}
.subject-btn:last-child{
  margin-bottom: 5rem;
}
  .subject-btn__1 {
    background-color: #E94B3C; }
    .subject-btn__1:hover {
      color: #E94B3C;
      background-color: #f5f5f5; }
  .subject-btn__2 {
    background-color: #6F9FD8; }
    .subject-btn__2:hover {
      color: #6F9FD8;
      background-color: #f5f5f5; }
  .subject-btn__3 {
    background-color: #79C753; }
    .subject-btn__3:hover {
      color: #79C753;
      background-color: #f5f5f5; }
  .subject-btn__4 {
    background-color: #c47fad; }
    .subject-btn__4:hover {
      color: #c47fad;
      background-color: #f5f5f5; }
  .subject-btn__5 {
    background-color: #944743; }
    .subject-btn__5:hover {
      color: #944743;
      background-color: #f5f5f5; }

      .subject-btn__6 {
        background-color: #ed9302; }
        .subject-btn__6:hover {
          color: #ed9302;
          background-color: #f5f5f5; }
      .subject-btn__7 {
        background-color: #6B5B95; }
        .subject-btn__7:hover {
          color: #6B5B95;
          background-color: #f5f5f5; }
      .subject-btn__8 {
        background-color: #2E4A62; }
        .subject-btn__8:hover {
          color: #2E4A62;}

.col {
  float: left;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.662%; }
  .col-md-10 {
    width: 83.332%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.662%; }
  .col-md-7 {
    width: 58.331%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.662%; }
  .col-md-4 {
    width: 33.332%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.662%; }
  .col-md-1 {
    width: 8.332%; } }

@media screen and (max-width: 900px) {
  .stream__heading {
    font-size: 7rem; }
  .stream__subheading {
    font-size: 3rem;
    padding-bottom: 5rem; }
  .subject-btn {
    font-size: 2.5rem; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.662%; }
  .col-sm-10 {
    width: 83.332%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.662%; }
  .col-sm-7 {
    width: 58.331%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.662%; }
  .col-sm-4 {
    width: 33.332%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.662%; }
  .col-sm-1 {
    width: 8.332%; } }

@media screen and (max-width: 600px) {
  .stream__heading {
    font-size: 3rem; }
  .stream__subheading {
    font-size: 1.5rem;
    padding-bottom: 3rem; }
  .subject-btn {
    font-size: 1.6rem;
    font-weight: 700; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.662%; }
  .col-xs-10 {
    width: 83.332%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.662%; }
  .col-xs-7 {
    width: 58.331%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.662%; }
  .col-xs-4 {
    width: 33.332%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.662%; }
  .col-xs-1 {
    width: 8.332%; } }

@media screen and (min-width: 1200px) {
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.662%; }
  .col-lg-10 {
    width: 83.332%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.662%; }
  .col-lg-7 {
    width: 58.331%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.662%; }
  .col-lg-4 {
    width: 33.332%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.662%; }
  .col-lg-1 {
    width: 8.332%; } }

@media screen and (min-width: 1400px) {
  .stream-year {
    padding: 4rem 0; }
    .stream__heading {
      font-size: 10rem; }
    .stream__subheading {
      font-size: 4rem; }
  .subject-btn {
    font-size: 4rem;
    padding: 2.5rem; } }
