
*{
    font-size: 62.5%; /*Font Size = 10px*/
    text-decoration: none; /*Remove Underline from hyperlinks*/
    padding: 0px;
    margin: 0px;
}

html{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.landing, .corridor, .services{
    height: 100vh;
    width: 100vw;
}


.landing, .services{
    background-color: red;
    color: white;
}

.corridor{
    background-color: white;
}

.services--heading{
<<<<<<< HEAD
    font-size: 7.5rem;
    text-align: center;
    font-weight: 900;
    padding: 5rem;
}
=======
    font-size: 5rem;
}
>>>>>>> f150ab3bfc5ab293d52238a4d635ddd4ba92b3dd
