@mixin color-year-btn($color) {
    background-color: $color !important;
    &:hover{
        color: $color !important;
        background-color: #f5f5f5 !important;
    }
}


@mixin color-subject-btn($color) {

    &-site{
        background-color: darken($color,5%) !important;
    }
    
    &-syllabus{
        background-color: lighten($color,10%) !important;
        border-right: 1px solid $color;
    }
    
    &-books{
        background-color:  lighten($color,10%) !important;
    }
    
    &-notes{
        background-color: lighten($color,5%) !important;
    }
    
    &-tut{
        background-color: $color !important;
        border-right: 1px solid darken($color,10%);
    }

    
    &-tut-sol{
        background-color: $color !important;
    }
    &-ppr{
        background-color: darken($color,10%) !important;
    }
    
    &-site:hover,
    &-syllabus:hover,
    &-books:hover,
    &-notes:hover,
    &-tut:hover,
    &-tut-sol:hover,
    &-ppr:hover{
        background-color: black !important;
        color : $color;
    }

}

@mixin clearfix{
    &::after{
     content: "";
     display: table;
     clear: both;
    }
 }