$color-red : #E94B3C;
$color-red-dark : #bc243c;
$color-red-dull : #944743;
$color-blue-light : #6F9FD8;
$color-blue : #4F84C4;
$color-blue-dark : #2E4A62;
$color-blue-dull : #005960;
$color-pink : #c47fad;
$color-green : #79C753;
$color-violet : #6B5B95;
$color-violet-dark : #4f1a5f;
$color-yellow : #FAE03C;
$color-yellow-dark : #ed9302;
$color-orange : #D2691E;

$color-black : #000;
$color-white : #fff;
$color-gray-light : #eee;
$color-gray-dark : #ccc;

//First-Year.html
$color-math1 : $color-red;
$color-math2 : $color-blue-light;
$color-phy : $color-green;
$color-electronics : $color-pink;
$color-electrical : $color-red-dull;
$color-env : $color-violet;
$color-mech : $color-yellow-dark;
$color-draw1 : $color-blue-dark;
$color-draw2 : $color-violet-dark;
$color-com : $color-red-dark;
$color-cs1 : $color-blue-dull;
$color-cs2: $color-orange;
$color-chem : $color-blue;

//Second-Year.html
$color-biotech : $color-green;
$color-chemical : $color-red;
$color-civil : $color-blue-light;
$color-cse : $color-orange;
$color-ece : $color-violet;
$color-eic : $color-pink;
$color-ecs : $color-blue-dull;
$color-mechanical : $color-blue-dark;
$color-mechatronics : $color-violet-dark;
$color-production : $color-red-dark;
$color-chem : $color-blue;
$color-electrical : $color-red-dull;

