*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.hide-phone{
    @media screen and (max-width : 900px){
        display: none;
    }
}

.hide-desktop{
    @media screen and (min-width : 600px){
        display: none;
    }
}
.bold{
    font-weight: 900;
    font-size: inherit;
    color: inherit;
}

.thin{
    font-weight: 100;
    font-size: inherit;
    color: inherit;
}

.break-mobile{
    display: none;

    @media screen and (max-width:900px){
        display: inline;
    }
}

.color-red{
    color: red;
}

.color-green{
    color: green;
}

.color-orange{
    color: orange;
}
.color-black{
    color: black;
}
.color-white{
    color:white;
}
.color-gray{
    color : #ccc;
}
.bg-red{
    background-color: $color-red;
}
.bg-red-dark{
    background-color: $color-red-dark;
}
.bg-blue-light{
    background-color: $color-blue-light;
}
.bg-blue{
    background-color: $color-blue;
}
.bg-blue-dark{
    background-color: $color-blue-dark;
}
.bg-green{
    background-color: $color-green;
}
.bg-green-dark{
    background-color: $color-green-dark;
}
.bg-pink{
    background-color: $color-pink;
}
.bg-pink-dark{
    background-color: $color-pink-dark;
}
.bg-yellow{
    background-color: $color-yellow;
}
.bg-orange{
    background-color: $color-orange;
}
.bg-violet{
    background-color: $color-violet;
}
.bg-violet-dark{
    background-color: $color-violet-dark;
}
.bg-white-dull{
    background-color: #f5f5f5;
}
.centre-text{
    text-align: center;
}
.right-text{
    text-align: right;
}
.left-text{
    text-align: left;
}
.clearfix{
    content: "";
    clear: both;
}

.code{
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
    color: inherit;
}

.contact-us{
    background-color: black;
    padding: .5rem;
}

.down-arrow{
    position: absolute;
    left: 50%;
    bottom: 2.5%;
    transform: translateX(-50%);
    animation: bounce 5s;
    animation-iteration-count: infinite;
}

.up-arrow{
    position: absolute;
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    animation: bounce 5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translate(-50%,0%);        
    }
    25%{
        transform: translate(-50%,25%);
    }
    50%{
        transform: translate(-50%,0%);        
    }
    75%{
        transform: translate(-50%,25%);        
    }
    100%{
        transform: translate(-50%,0%);        
    }
}