@mixin gradient-bg($color) {
    background-image: linear-gradient($color,
                                      $color+"-pallete-1");
}
.card{
    background-color:#F5F5F5;
    position: relative;
    transition: .3s all;
    height: 30rem;
    &__holder{
        padding: 0rem 3rem;
        margin: 1rem 0;
        @media screen and (max-width : 600px){
            padding: 0;
        }
    }
    &__img{
        height: 100%;
        &--logo{
            margin-top: 25%;
            @media screen and (max-width : 600px){
                width:15rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 1rem;
            }
        }
        &--msc{
        background-color: $color-red-pallete-5;
        }
        &--mudra{
            background-color: $color-pink-pallete-4;
        }
        &--litsoc{
            background-color: $color-green-dark-pallete-2;
        }
        &--faps{
            background-color: $color-yellow-pallete-4;
        }
        &--ccs{
            background-color: $color-blue-pallete-5;
        }
        &--nox{
            background-color: $color-pink-dark-pallete-3;
        }
        &--pratigya{
            background-color: $color-green-dark-pallete-5;
        }
        &--tumun{
            background-color: $color-red-dark-pallete-5;
        }
        &--econ{
            background-color: $color-blue-light-pallete-4;
        }
        &--saic{
            background-color: $color-violet-dark-pallete-5;
        }
        &--iet{
            background-color: $color-orange-pallete-5;
        }
        &--owasp{
            background-color: $color-blue-dark-pallete-2;
        }
        
        &--toastmasters{
            background-color: $color-violet-pallete-2;
        }
        @media screen and (max-width : 600px){
            width: 100%;
            position: relative;
            height: 100%;
        }    
    }
    &__text{
        height: 100%;
        @media screen and (max-width : 600px){

        }
        &--title{
            padding: .5rem;
            @media screen and (max-width : 600px){
                position: absolute;
                bottom: 20%;
                color: white;
            }        
        }
        &--desc{
            padding: 1rem;
        }

        &--msc{
        border: 1px solid $color-red;
        border-left: 0;
        }
        &--mudra{
            border: 1px solid $color-pink;
        border-left : 0px;            
        }
        &--litsoc{
            border: 1px solid $color-green;
            border-left: 0;
        }

        &--ccs{
            border: 1px solid $color-blue;
            border-left: 0;
        }
        &--faps{
            border: 1px solid $color-yellow;
            border-left: 0;
        }
        &--nox{
            border: 1px solid $color-pink-dark;
            border-left: 0;
        }
        &--pratigya{
            border: 1px solid $color-green-dark;
            border-left: 0;
        }
        &--tumun{
            border: 1px solid $color-red-dark;
            border-left: 0;
        }
        &--econ{
            border: 1px solid $color-blue-light;
            border-left: 0;
        }
        &--saic{
            border: 1px solid $color-violet-dark;
            border-left: 0;
        }
        &--iet{
            border: 1px solid $color-orange;
            border-left: 0;
        }
        &--owasp{
            border: 1px solid $color-blue-dark;
            border-left: 0;
        }

        &--toastmasters{
            border: 1px solid $color-violet;
            border-left: 0;
        }
    }
    &__btn{
        cursor: pointer;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        transition: .3s all;

        @media screen and (max-width : 600px){
            width: 100%;
        }
    }
    &:hover{
        box-shadow: 0 0  .5rem .5rem rgba(0,0,0,0.1);
        transform: scale(1.03);
    }    
}


