
  /*Scrollbar Styling Starts*/
  ::-webkit-scrollbar {
    width: 5px; 
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #cdcdcd; }
  
  ::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #777; }
  
  /*Scrollbar Styling Ends*/
  