//Color Variables

$color-red : #E94B3C; //Branch : Electrical, Subject : Maths1
$color-red-pallete-1:#D23D6D;
$color-red-pallete-2:#A3488A;
$color-red-pallete-3:#69528D;
$color-red-pallete-4:#3C5179;
$color-red-pallete-5:#2F4858;

$color-red-dark : #bc243c; //Branch : ECE, Subject : ProfComm
$color-red-dark-pallete-1:#BD327D;
$color-red-dark-pallete-2:#9958B6;
$color-red-dark-pallete-3:#4679D8;
$color-red-dark-pallete-4:#0090DA;
$color-red-dark-pallete-5:#00A0C1;

$color-blue-light : #6F9FD8; //Branch : BioTech, Subject : Applied Chemistry
$color-blue-light-pallete-1:#18BBE8;
$color-blue-light-pallete-2:#00D4DE;
$color-blue-light-pallete-3:#3EE7BC;
$color-blue-light-pallete-4:#A0F491;
$color-blue-light-pallete-5:#F9F871;

$color-blue :#4F84C4 ; // Subject : Maths2
$color-blue-pallete-1:#667AC2;
$color-blue-pallete-2:#7D6EBA;
$color-blue-pallete-3:#9361AD;
$color-blue-pallete-4:#A5529B;
$color-blue-pallete-5:#B24385;

$color-blue-dark : #2E4A62;  //Branch : Civil, 
$color-blue-dark-pallete-1:#4A5A7B;
$color-blue-dark-pallete-2:#6B6991;
$color-blue-dark-pallete-3:#9078A3;
$color-blue-dark-pallete-4:#B786B0;
$color-blue-dark-pallete-5:#DC95B8;

$color-green : #79C753;  //Branch : Chemical, Subject : Applied Physics
$color-green-pallete-1:#27B271;
$color-green-pallete-2:#009983;
$color-green-pallete-3:#007E84;
$color-green-pallete-4:#076275;
$color-green-pallete-5:#2F4858;

$color-green-dark : #005960; // 
$color-green-dark-pallete-1:#007B73;
$color-green-dark-pallete-2:#329E7C;
$color-green-dark-pallete-3:#6BBF7A;
$color-green-dark-pallete-4:#ADDE74;
$color-green-dark-pallete-5:#F9F871;

$color-pink : #c47fad;  // Subject : Electronics
$color-pink-pallete-1:#EE88A3;
$color-pink-pallete-2:#FF9991;
$color-pink-pallete-3:#FFB37B;
$color-pink-pallete-4:#FFD46C;
$color-pink-pallete-5:#F9F871;

$color-pink-dark : #944743;  // Subject : Electrical
$color-pink-dark-pallete-1:#884359;
$color-pink-dark-pallete-2:#714668;
$color-pink-dark-pallete-3:#55496C;
$color-pink-dark-pallete-4:#3C4A66;
$color-pink-dark-pallete-5:#2F4858;

$color-yellow: #ed9302; // Branch : E&I,
$color-yellow-pallete-1:#919A0A;
$color-yellow-pallete-2:#3D8F44;
$color-yellow-pallete-3:#007B67;
$color-yellow-pallete-4:#00626E;
$color-yellow-pallete-5:#2F4858;

$color-violet : #6B5B95; // 
$color-violet-pallete-1:#B0659C;
$color-violet-pallete-2:#E97690;
$color-violet-pallete-3:#FF9679;
$color-violet-pallete-4:#FFC566;
$color-violet-pallete-5:#F9F871;

$color-violet-dark : #4f1a5f; // 
$color-violet-dark-pallete-1:#374695;
$color-violet-dark-pallete-2:#006FC1;
$color-violet-dark-pallete-3:#0097DA;
$color-violet-dark-pallete-4:#00BDDF;
$color-violet-dark-pallete-5:#00E1D2;

$color-orange : #D2691E; //Branch : COE
$color-orange-pallete-1:#CE4C55;
$color-orange-pallete-2:#AA497A;
$color-orange-pallete-3:#745086;
$color-orange-pallete-4:#425077;
$color-orange-pallete-5:#2F4858;
