/*Grid System with Media Query*/
.col {
    float: left;
}
  
  @media screen and (max-width: 1200px) {
    .col-md-12 {
      width: 100%; }
    .col-md-11 {
      width: 91.662%; }
    .col-md-10 {
      width: 83.332%; }
    .col-md-9 {
      width: 75%; }
    .col-md-8 {
      width: 66.662%; }
    .col-md-7 {
      width: 58.331%; }
    .col-md-6 {
      width: 50%; }
    .col-md-5 {
      width: 41.662%; }
    .col-md-4 {
      width: 33.332%; }
    .col-md-3 {
      width: 25%; }
    .col-md-2 {
      width: 16.662%; }
    .col-md-1 {
      width: 8.332%; } }
  
  @media screen and (max-width: 900px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-11 {
      width: 91.662%; }
    .col-sm-10 {
      width: 83.332%; }
    .col-sm-9 {
      width: 75%; }
    .col-sm-8 {
      width: 66.662%; }
    .col-sm-7 {
      width: 58.331%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-5 {
      width: 41.662%; }
    .col-sm-4 {
      width: 33.332%; }
    .col-sm-3 {
      width: 25%; }
    .col-sm-2 {
      width: 16.662%; }
    .col-sm-1 {
      width: 8.332%; } }
  
  @media screen and (max-width: 600px) {
    .col-xs-12 {
      width: 100%; }
    .col-xs-11 {
      width: 91.662%; }
    .col-xs-10 {
      width: 83.332%; }
    .col-xs-9 {
      width: 75%; }
    .col-xs-8 {
      width: 66.662%; }
    .col-xs-7 {
      width: 58.331%; }
    .col-xs-6 {
      width: 50%; }
    .col-xs-5 {
      width: 41.662%; }
    .col-xs-4 {
      width: 33.332%; }
    .col-xs-3 {
      width: 25%; }
    .col-xs-2 {
      width: 16.662%; }
    .col-xs-1 {
      width: 8.332%; } }
  
  
  
  @media screen and (min-width: 1200px) {
    .col-lg-12 {
      width: 100%; }
    .col-lg-11 {
      width: 91.662%; }
    .col-lg-10 {
      width: 83.332%; }
    .col-lg-9 {
      width: 75%; }
    .col-lg-8 {
      width: 66.662%; }
    .col-lg-7 {
      width: 58.331%; }
    .col-lg-6 {
      width: 50%; }
    .col-lg-5 {
      width: 41.662%; }
    .col-lg-4 {
      width: 33.332%; }
    .col-lg-3 {
      width: 25%; }
    .col-lg-2 {
      width: 16.662%; }
    .col-lg-1 {
      width: 8.332%; } }
  