.playlist {
  text-align: center;
  &__video {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    &-blue {
      background-color: $color-blue;
    }
  }
}
