.menu__subject {
    cursor: pointer;
    width: 8rem;
    float: left;
    padding: 1rem;
    margin: 4rem 2rem 2rem 4rem;
    transition: all .5s;
    border-radius: 50%;       

    &:hover {
        transform: scale(1.2);
        border-radius: 50%;
        background-color: #eee;
    }

    @media screen and (max-width:600px){
        width: 6rem;
        padding: .75rem;
    }
    @media screen and (max-width:450px){
        padding: .525rem;
        width: 4rem;
        margin: 1.5rem;
    }
    @media screen and (max-width:350px){
        padding: .4375rem;
        width: 3.5rem;
    }
    @media screen and (min-width:1400px){
        width: 12.5rem;
        padding: 1.56rem;
        margin: 5rem;

    }
    @media screen and (min-width:2560px){
        width: 20.833rem;
        padding: 2.6rem;  
        margin: 8rem;
    }
    @media screen and (min-width:3840px){
        width:29.166rem;
        padding: 3.75rem;
        margin: 10rem;
    }

}