*{
    text-decoration: none; /*Remove Underline from hyperlinks*/
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

html{
    font-size: 62.5%; /*Font Size = 10px*/
    font-family: 'Raleway',sans-serif;

}