
.title{ 
    font-size: 12rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3.5rem;
    font-weight: 900;

   
    @media screen and (max-width:900px){
        letter-spacing: 1.5rem;
    }
    @media screen and (max-width:600px){
        font-size: 10rem;
        letter-spacing: 0;

    }
    @media screen and (max-width:450px){
        font-size: 8rem;
        margin-top: 5rem;
    }
    @media screen and (max-width:350px){
        font-size: 6rem;
        margin-top: 2rem;
    }
    @media screen and (min-width:1400px){
        padding: 2rem;
        font-size: 15rem;
        margin-top: 7rem;
    }
    @media screen and (min-width:2560px){
        font-size: 25rem;  
        margin-top: 7rem;

    }
    @media screen and (min-width:3840px){
        margin-top: 25rem;
        font-size:35rem;
    }
}

.tagline{
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    padding: 2rem;
    padding-bottom: 4rem;
    font-weight: 900;
    margin-bottom: 14rem;
   
    
    @media screen and (max-width:900px){
        font-size: 3.5rem;
        margin-bottom: 10rem;
    }
   
    @media screen and (max-width:600px){
        font-size: 3rem;
    }
    @media screen and (max-width:450px){
        font-size: 2.2rem;
    }
    @media screen and (max-width:350px){
        font-size: 2rem;
        margin-bottom: 6rem;
    }
    @media screen and (min-width:1920px){
        margin-bottom:25rem;
        font-size: 5rem;
    }

    @media screen and (min-width:2560px){
        margin-bottom: 40rem;
        font-size: 7rem;
    }
    @media screen and (min-width:3840px){
        font-size:10rem;
        margin-bottom: 50rem;
    }

}

.heading{
    font-size: 10rem;
    color: black;
    font-weight: 800;
    padding: 3rem;

    @media screen and (max-width:600px){
        font-size: 8.33333rem;
        letter-spacing: 0;

    }
    @media screen and (max-width:450px){
        font-size: 6.66666rem;
        margin-top: 5rem;
    }
    @media screen and (max-width:350px){
        font-size: 5rem;
        margin-top: 2rem;
    }
    @media screen and (min-width:1400px){
        padding: 2rem;
        font-size: 12.5rem;
        margin-top: 7rem;
    }
    @media screen and (min-width:2560px){
        font-size: 20.833rem;  
        margin-top: 7rem;

    }
    @media screen and (min-width:3840px){
        margin-top: 20rem;
        font-size:29.166rem;
    }
}

.subheading{
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: gray;
    padding-bottom: 2.5rem;
    @media screen and (max-width:900px){
        font-size: 2.625rem;
    }
   
    @media screen and (max-width:600px){
        font-size: 3rem;
    }
    @media screen and (max-width:450px){
        font-size: 2.1rem;
    }
    @media screen and (max-width:350px){
        font-size: 2rem;
    }
    @media screen and (min-width:1920px){
        font-size: 3.75rem;
        padding: 5rem;
    }

    @media screen and (min-width:2560px){
        font-size: 5.25rem;
        padding: 6.5rem;

    }
    @media screen and (min-width:3840px){
        font-size:7.5rem;
        padding: 9rem;

    }
}
.subject-heading{
    font-size: 8rem;
    padding: 3rem;
    @media screen and (max-width:600px){
        font-size: 6rem;
        letter-spacing: 0;

    }
    @media screen and (max-width:450px){
        font-size: 4rem;
        padding: 1.3rem 0;
    }
    @media screen and (max-width:350px){
        font-size: 3.75rem;
        padding: 1.5rem 0;
    }
    @media screen and (min-width:1400px){
        font-size: 12.5rem;
        padding: 4rem;
    }
    @media screen and (min-width:2560px){
        font-size: 19.833rem;  
        padding: 6rem;
    }
    @media screen and (min-width:3840px){
        font-size:29.166rem;
        padding: 8rem;
    }
}

.quote {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    padding: 3rem 3rem 5rem 3rem;
    opacity: 0.1;
    text-align: center;
    transition: all 1s;

    &:hover {
        opacity: 0.6;
    }
    @media screen and (max-width:600px){
        font-size: ((6*3.5)/6)*1rem;
        letter-spacing: 0;
        padding: 7rem;

    }
    @media screen and (max-width:450px){
        font-size: ((4*3.5)/6)*1rem;
        padding: 5rem ;
    }
    @media screen and (max-width:350px){
        font-size: ((3.75*3.5)/6)*1rem;
    }
    @media screen and (min-width:1400px){
        padding: 8rem;
        font-size: ((12*3.55)/6)*1rem;
    }
    @media screen and (min-width:2560px){
        padding: 11rem;
        font-size: ((20.633*3.5)/8)*1rem;  

    }
    @media screen and (min-width:3840px){
        padding: 25rem;
        font-size:((29.166*3.5)/8)*1rem;
    }
}
.more-stuff{
    &__heading{
        font-size: 8rem;
        padding : 2rem;
    @media screen and (max-width:600px){
        font-size: 6rem;
        letter-spacing: 0;

    }
    @media screen and (max-width:450px){
        font-size: 4.5rem;
    }
    @media screen and (max-width:360px){
        font-size: 3.75rem;
    }
    @media screen and (min-width:1400px){
        font-size: 12.5rem;
        padding: 4rem;
    }
    @media screen and (min-width:2560px){
        font-size: 19.833rem;  
        padding: 6rem;
    }
    @media screen and (min-width:3840px){
        font-size:29.166rem;
        padding: 8rem;
    }
    }
    &__subheading{
        font-size: 3rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: black;
        background-color: $color-gray-light;
        margin-bottom : 7rem;
        display: inline-block;
    @media screen and (max-width:900px){
        font-size: 2.625rem;
    }
   
    @media screen and (max-width:600px){
        font-size: 3rem;
    }
    @media screen and (max-width:450px){
        text-align: center;
        font-size: 2rem;
        margin-bottom: 9rem;
    }
    @media screen and (max-width:360px){
        font-size: 1.7rem;
        margin-bottom: 7rem;

    }
    @media screen and (min-width:1920px){
        font-size: 3.75rem;
        margin: 5rem 0;
    }

    @media screen and (min-width:2560px){
        font-size: 5.25rem;
        padding: 6.5rem;

    }
    @media screen and (min-width:3840px){
        font-size:7.5rem;
        padding: 9rem;

    }
    }
}
.btn__more--title{
    font-size: 3rem;

    @media screen and (max-width:600px){
        font-size: 2.7rem;
    }
    @media screen and (max-width:450px){
        font-size: 2.5rem;
        padding: .5rem !important;
    }
    @media screen and (max-width:360px){
        font-size: 1.8rem;
    }
    @media screen and (min-width:1400px){
        font-size: 4rem;
    }

    @media screen and (min-width:2560px){
        font-size:6rem;
    }
    @media screen and (min-width:3840px){
        font-size:9rem;
    }
}

.btn__more--data{
    font-size: 2rem;

    @media screen and (max-width:600px){
        font-size: 2rem;
    
    }
    @media screen and (min-width:1400px){
        font-size: 3rem;
        padding: 1rem;
    }

    @media screen and (min-width:2560px){
        font-size:4rem;
    }
    @media screen and (min-width:3840px){
        font-size:5rem;
    }
}