body{
  background-color: #eee;
}

.sort-bar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 1rem lightgray;
  z-index: 10000;

 &_heading{
   font-family: 'Grand Hotel', cursive;
   display: inline-block;
   padding-left: 3rem;
 }
}


.category{
  width:8rem;
  // height: 100%;
  float: right;
  display:inline-block;
  margin: 0 2rem;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
 &:first-child{
   @media screen and (min-width:1280px){
  margin-right: 10rem;}
 }
  &-caption{
    font-size:1.5rem;  }

  &:hover{
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem #eee ;
  }

}





.container{
  background-color: #eee;
  width:80vw;
  margin:12rem auto;

  display:grid;
  grid-template-rows: repeat(17,30rem);
  grid-template-columns: 38rem 38rem 38rem ;

  @media screen and(max-width:600px){
    margin-top: 10%;
  grid-template-columns: 38rem  ;
  grid-template-rows: repeat(11,30rem);
  grid-row-gap:0rem;
  margin: 0;
  }
  grid-column-gap: 4rem;
  grid-row-gap:4rem;
}

.place_name{
  font-size:2.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.location{
  padding-top: 0.5rem;
  font-size:1.7rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.text{
  padding-top: 0.5rem;
  font-size:1.4rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.box{
  // padding: 3rem;
  font-size: 2rem;
  font-family: sans-serif;
  color:black;
  background-color: white;
  border-radius: 5px;
  height: 100%;


  &-1{

  &_upper{
    padding: 0;
    width: 100%;
    height: 65%;
    background-image: url('../img/places/kfc.png');
    background-size: cover;
  opacity:0.85;}

  &_lower{
    padding: 1.3rem;
   border-top:3px solid #FBBD08;
   background-color: white;
  }
 }
 &-2{

 &_upper{
   padding: 0;
   width: 100%;
   height: 65%;
   background-image: url('../img/places/dominos.jpg');
   background-size: cover;
 opacity:0.85;}

 &_lower{
   padding: 1.3rem;
  border-top:3px solid #FBBD08;
  background-color: white;
 }
}
&-3{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/bbq.jpg');
  background-size: cover;
  opacity:0.85;}

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-4{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/pizzanation.jpg');
  background-size: cover;
opacity: 0.85; }

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-5{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/mcd.jpg');
  background-size: cover;
opacity: 0.85;}

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-6{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/ccd.jpg');
  background-size: cover;
opacity: 0.85; }

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-7{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/boston-bites.jpg');
  background-size: cover;
opacity: 0.85;}

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-8{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/dumpling-hood.jpg');
  background-size: cover;
 }

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-9{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/peddlers.jpg');
  background-size: cover;
opacity: 0.85;}

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-10{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/canadian-pizza.jpg');
  background-size: cover;
 }

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-11{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/lassi.jpg');
  background-size: cover;
opacity: 0.90  }

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
 &-12{

&_upper{
  padding: 0;
  width: 100%;
  height: 65%;
  background-image: url('../img/places/bakery.jpg');
  background-size: cover; }

&_lower{
  padding: 1.3rem;
 border-top:3px solid #FBBD08;
 background-color: white;
}
}
&-13{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/lazeez.jpg');
 background-size: cover;
 opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-14{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/moti-mahal.jpg');
 background-size: cover;
 opacity:0.90}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-15{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/yochina.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-16{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/gopals.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-17{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/elevate.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-18{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/pifi.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-19{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/jaggis-2.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-20{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/the-yellow-chilli.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-21{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/brewestate.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-22{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/chawlas.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-23{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/cafe-yorker.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-24{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/goli.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-25{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/mocha.jpg');
 background-size: cover;
}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-26{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/spice-roof.jpg');
 background-size: cover;
opacity: 0.85;}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-27{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/barista.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-28{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/manu-lassi.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-29{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/hcburger.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-30{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/noc.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-31{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/kokos.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-32{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/sagar-ratna.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-33{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/subway.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-34{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/foodfactory.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-35{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/cafe-route-64.jpg');
 background-size: cover;
opacity: 0.85}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-36{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-37{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/jujus.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-38{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-39{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-40{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-41{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-42{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-43{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-44{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-45{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-46{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-47{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
&-48{

&_upper{
 padding: 0;
 width: 100%;
 height: 65%;
 background-image: url('../img/places/zafran.jpg');
 background-size: cover;
opacity: 0.9}

&_lower{
 padding: 1.3rem;
border-top:3px solid #FBBD08;
background-color: white;
}
}
}
.button {
    background-color: #F86DA0;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 1000px;
    cursor: pointer;
    margin-top: 5.5rem;
    margin-right: 2rem;
}
.menu{
  padding-top: 0.5rem;
  font-size:1.4rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
   // text-decoration-line: underline;
   // text-decoration-style:dashed;
   // text-decoration-color:blue
   color: blue
}
//
// .seconds-1,.seconds-2,.seconds-3,.seconds-4,.seconds-5,.seconds-6,.seconds-7,.seconds-8,.seconds-9,.seconds-10,.seconds-11,.seconds-12,.seconds-13,.seconds-14,.seconds-15,.seconds-16,.seconds-17,.seconds-18,.seconds-19,.seconds-20,.seconds-21,.seconds-22,.seconds-23,.seconds-24,.seconds-25,.seconds-26,.seconds-27{
//   display: none;
// }

.seconds{
  display:none;
}
::-webkit-scrollbar {
  display: none;
  }
.sort-bar_heading{
  @media screen and(max-width:600px){
    width:100%;
    padding: 0;
    text-align: center;
    position: fixed;
    background-color: #f5f5f5;
    }
}

.bottom-bar{
  @media screen and(max-width:600px){

    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 900;
    &__icon{
      width: 20%;
      margin: 0;
      padding: .25rem;
    }
  }
}
