


//Landing 
.landing{
    height: 100vh;
    width: 100%;
    background-image: url('../img/landingBGInteractSegment.svg');
    background-size: cover;
    background-position: 0 17vh;
    text-align: center;
    color: black;
    position: relative;
    padding-top: 17rem;
}

.more-stuff{
    height: 100vh;
    background-image: url('../img/landingBGInteractSegment.svg');
    background-size: cover;
    background-position: 0 50vh;
    @media screen and (max-width : 600px){
        background-position: 0 55vh;
    }
}