.news_sort {
  margin-top: 1rem;
  background-color: black;
  float: left;
  height: 100vh;
  text-align: right;
  padding-right: 0.2rem;
  color: white;
  padding-top: 1rem;
  a {
    color: white;
    float: left;
    padding: 1rem;
    &:hover {
      background-color: #eee;
      color: black;
    }
  }
}

.news_section {
  float: left;
  padding-top: 1rem;
}

.news_article {
  &--date {
    float: left;
    text-align: center;
    padding: 1rem;
  }
  &--title {
    float: left;
    padding: 1rem;
    background-color: black;
    color: white;
  }
  &--data {
    padding: 1rem;
    float: left;
  }
  &--gray {
    background-color: white;
  }
}
