:root {
  --main-color: #ff3868;
}

* {
  box-sizing: border-box !important;
}

@mixin background-gradient {
  background-image: #eee;
  background-size: 25vw;
  background-position: -14vw;
}

.resource {
  &-show-in-drive {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-weight: 900;
  }
  &-down-chevron {
    & > img {
      height: 1vh;
    }
    @media screen and (min-width: 700px) {
      display: none;
    }
  }
  &-sidebar {
    &-close {
      background-color: white;
      font-size: 48px;
      border-radius: 50%;
      color: var(--main-color);
    }
    &__footer {
      @media screen and (max-width: 400px) {
        font-size: 1.25rem;
        margin: 50px 0px;
        padding: 5px;
      }
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 75px 0px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 3px;
      transition: 0.25s;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    &-folderChip {
      padding-top: 1rem;
      display: inline-block;
      padding: 0.8vh 2vw;
      // font-size: 1rem;
      border-radius: 100rem;
      color: black;
      cursor: pointer;
      margin-right: 1rem;
      box-shadow: 0 0 1px 1px var(--main-color);
      // box-shadow: 0 0 1px 1px var(--main-color);
      @media screen and (max-width: 700px) {
        font-size: 1rem;
      }
    }
  }
  &-element {
    @media screen and (max-width: 700px) {
      height: 10vh;
    }
    width: 100%;
    &-capsule {
      height: 16.5vh;
      position: relative;
      margin-top: 1rem;
      z-index: 2;
      min-width: 100%;
      border: 1px solid var(--main-color) !important;
      @media screen and (max-width: 700px) {
        height: 10vh;
      }
    }
    cursor: pointer;
    color: black;
    height: 15vh;
    // box-shadow: 0rem 4px 15px rgba($color: #aaa, $alpha: 0.25);
    border-radius: 0.5rem;
    transition: 0.35s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2;
    &-branch {
      &:focus {
      }
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 0.5rem 1rem;
      height: 6.5vh;
      line-height: 2.15vh;
      color: var(--main-color);
      text-align: center;
      background-color: var(--main-color);
      font-weight: 900;
      @media screen and (max-width: 700px) {
        height: 5vh;
        padding: 0 0.5rem;
      }
      &-text {
        @media screen and (max-width: 700px) {
          // transform: translate3d(-50%, -50%, 0);
          // height: 5vh;
          // padding: 0 0.5rem;
        }
        // transform: translate3d(-50%, -70%, 0);
        color: white;
        cursor: pointer;
      }
    }
    &-thumbnail {
      height: 100%;
      overflow-y: hidden;
      width: 100%;
      transition: 0.5s;
      box-shadow: 0rem 0rem 0.25rem #ddd;
      & > img {
        width: 100%;
      }
    }
    &:hover {
      box-shadow: 0rem 0.35rem 0.5rem rgba($color: #000000, $alpha: 0.25);
    }
    &-icon {
      color: whitesmoke;
      float: left;
    }
  }
  &-hub {
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    &-ad {
      &-one {
        left: 0;
      }
      &-two {
        left: 85vw;
        height: 100%;
        width: 15vw;
        background-color: #34004e;
      }
    }
    &-document {
      &-main {
        flex: 5;
        position: relative;
        transition: 0.5s;
        // filter: invert(1);
      }
      &-ads {
        // flex: 2;
        background-color: rgba($color: #ffffff, $alpha: 0.4);
        // background-color: white;
      }
    }
  }
  &-loaded {
    &-document {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  &-grid {
    &-loading {
      &-hangar {
        &-six {
          opacity: 0.75;
        }
        &-seven {
          opacity: 0.65;
        }
        &-eight {
          opacity: 0.425;
        }
      }
    }
  }
}

#resource {
  height: 100vh;
  width: 100%;
  &-body {
    background-color: white;
  }
  &-sidebar {
    box-shadow: 0.15rem 0px 15px rgba($color: #000000, $alpha: 0.25);
    overflow-y: hidden;
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    transition: 0.5s ease-in-out;
    &::before {
      position: absolute;
      top: -4vh;
      left: 70%;
      width: 30%;
      height: 4vh;
      display: block;
      content: "";
      border-top-left-radius: 30rem;
      background-color: var(--main-color);
      @media screen and (min-width: 700px) {
        display: none;
      }
    }
    @media screen and (max-width: 700px) {
      box-shadow: 0.15rem 0px 15px rgba($color: #aaa, $alpha: 0.25);
      height: 80%;
      top: 10%;
      border-top-left-radius: 3rem;
      overflow-y: visible;
    }
    &-bay {
      display: none;
      margin: 0 2rem;
      // display: flex;
      flex: 1;
      justify-content: space-between;
      box-shadow: 0rem 4px 15px rgba($color: #000000, $alpha: 0.25);
      // display: inline-flex;
      flex-direction: row;
      border-radius: 10rem;
      &-upload {
        padding: 1rem 2.5rem;
        box-shadow: 0rem 4px 15px rgba($color: #000000, $alpha: 0.25);
        // background-color: #ff3868;
        background-color: var(--main-color);
        color: white;
        border-radius: 10rem;
      }
    }
    &-selector {
      display: none;
      flex: 1;
    }
    &-placeholderForFuture {
      flex: 2;
      @media screen and (max-width: 700px) {
        flex: 0.2;
      }
    }
    &-controls {
      flex: 1;
      display: inline-flex;
      // background-color: yellow;
      // padding: 0 auto;
      justify-content: center;
      // align-items: center;
      // height: 5vh;
      // background-color: red;
      &-left {
        transform: rotateZ(180deg) translateY(0.7vh);
        height: 5.5em;
        cursor: pointer;
      }
      &-right {
        height: 5.5em;
        transform: translateY(-0.7vh);
        cursor: pointer;
      }
    }
    &-minibar {
      // height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      // background-color: #ff3868;
      background-color: var(--main-color);
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    &-search {
      margin-top: 0.5vh;
      width: 75%;
      display: flex;
      align-items: center;
      // height: 2.25vh;
      margin-right: 0;
      @media screen and (max-width: 700px) {
        justify-content: flex-start;
        margin-top: 0;
        width: 90%;
      }
      &-icon {
        @media screen and (max-width: 700px) {
          flex: 1;
        }
        display: inline;
        padding-left: 1rem;
        max-height: 1.5em;
        transform: scale(0.5);
      }
      &-input {
        @media screen and (max-width: 700px) {
          flex: 9;
          font-size: 1rem;
          width: 85%;
        }
        padding-left: 0.5rem;
        border: none;
        &:focus {
          border: none;
          outline: none;
        }
        background-color: #eee;
      }
      background-color: #eee;
      border-radius: 1rem;
    }
    &-header {
      // padding-top: 2rem;
      // padding-bottom: 1rem;
      padding-left: 1vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      @media screen and (max-width: 700px) {
        overflow-y: visible;
      }
      flex: 0.75;
      &-options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // background-color: green;
        align-items: center;
      }
      &-heading {
        // height: 100%;
        display: none;
        flex: 1;
        margin: 0.5vh 0;
        // background-color: yellow;
        display: inline;
        padding: 0 2rem;
        border-radius: 100rem;
        // border: 2px solid #FF3868;
        border: 2px solid var(--main-color);
        @media screen and (max-width: 700px) {
          font-size: 1.25rem;
        }
      }
    }
    &-content {
      flex: 25;
      box-shadow: 0.1rem 0rem 1rem #777;
      background-color: white;
      display: flex;
      flex-direction: column;
    }
    &-toggle {
      padding-top: 2vh;
      width: 60%;
      cursor: pointer;
      &-static {
        position: absolute;
        padding-top: 2rem;
        // padding-left: 2rem;
        left: 44%;
        transform: translateX(-50%);
        width: 5rem;
        cursor: pointer;
        @media screen and (max-width: 700px) {
          display: none;
        }
        z-index: 2;
        &:hover {
          // transform: scale(1.15);
          // left: 50%;
          // transform: translateX(-50%);
        }
      }
    }
    &-mobile {
      &-ad {
        // display: none;
        @media screen and (min-width: 700px) {
        }
        width: 100%;
        height: 10vh;
        max-width: 100vw;
        overflow-x: hidden;
        position: absolute;
        &-inlet {
          width: 100%;
          height: 100%;
          &-test {
            &-img {
              width: 100vw;
              height: 10vh;
              background-image: url("../../img/420_80-Mobile.png");
              background-size: 100% auto;
              // background-repeat: no-repeat;
            }
          }
        }
        // top: 100%;
        bottom: -10vh;
        left: 0;
        background-color: #34004e;
        z-index: 2;
      }
      &-goback {
        display: none;
        position: absolute;
        font-size: 2rem;
        top: -4vh;
        // left: 0;
        // border-radius: 100rem;
        padding: 0.15rem 0.25rem;
        // padding-top: 4vh;
        right: 3vw;
        color: white;
        // background-color: #eee;
        z-index: 7;
      }
    }
    &-ad {
      &-test {
        height: 100%;
        width: 100%;
        &-img {
          height: 100%;
          width: 100%;
          // background-color: #fff;
          background-image: url("../../img/1080_300-Web.png");
          background-size: 100% 100%;
        }
      }
    }
  }
  &-grid {
    flex: 5;
    display: grid;
    column-gap: 2vh;
    overflow-y: scroll;
    padding: 3rem 1rem;
    padding-top: 2.5vh;
    grid-template-columns: 24% 24% 24% 24%;
    grid-auto-rows: 29vh;
    @media screen and (max-width: 700px) {
      padding: 3rem 1rem;
      padding-left: 3.5vw;
      grid-template-columns: 45% 45%;
      column-gap: 7.5vw;
      grid-auto-rows: 19vh;
    }
    &-loading {
      &-hangar {
        height: 100%;
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-main {
          background-color: #eee;
          height: 50%;
          width: 100%;
          @include background-gradient;
          // animation: loading 0.5s infinite;
        }
        &-subone {
          width: 60%;
          height: 5%;
          background-color: #dedede;
          margin-top: 1rem;
          animation: bounce 0.875s infinite;
        }
        &-subtwo {
          width: 25%;
          height: 5%;
          background-color: #eee;
          margin-top: 1rem;
          animation: bounce 0.875s infinite;
        }
        &-subthree {
          display: none;
          width: 25%;
          height: 5%;
          background-color: #999;
          margin-top: 1rem;
        }
      }
    }
  }
  &-hub {
    margin-left: 14.5vw;
    margin-left: 0vw;
    height: 100vh;
    width: 71%;
    width: 90%;
    // background-color: red;
    @media screen and (max-width: 700px) {
      margin-left: 0;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100);
    }
    &-ad {
      @media screen and (max-width: 700px) {
        display: none;
      }
      position: absolute;
      top: 0;
      width: 15vw;
      height: 100vh;
      z-index: 1;
    }
    &-document {
      position: relative;
      height: 100%;
      width: 85vw;
      @media screen and (max-width: 700px) {
        height: calc(var(--vh, 1vh) * 90);
        width: 100vw;
      }
    }
  }
  &-display-ad-two {
    width: 15vw;
    height: 100%;
  }
}

// #resource-ads {
//   height: 100vh;
//   width: 15vw;
//   background-color: white !important;
//   @media screen and (max-width: 700px) {
//     display: none;
//   }
//   &-one {
//     height: 50vh;
//   }
//   &-two {
//     height: 50vh;
//   }
// }

// #resource-sidebar-mobo {
//   &-seek {
//     height: 100%;
//     width: 70%;
//     background-color: grey;
//   }
//   // z-index: 150;
//   position: absolute;
//   top: 15px;
//   left: 10vw;
//   width: 80vw;
//   height: 3px;
//   opacity: 0;
//   @media screen and (min-width: 700px) {
//     display: none;
//   }
// }

#resource-body {
  max-height: calc(var(--vh, 1vh) * 100) !important;
  overflow: hidden;
  box-sizing: border-box !important;
}

html {
  height: 100%;
}

#resource-lightdark-slider:first-child {
  margin-top: 0;
  font-size: 1.6em;
}

#resource-overlay-document-payload {
  // display: none;
  // z-index: 1 !important;
}

#resource-grid {
  // @media screen and (max-width: 700px) {
  //   height: 20vh;
  //   overflow-x: scroll;
  //   white-space: nowrap;
  //   flex: 3;
  //   margin-top: 0;
  // }
}

#resource-elements-keep {
  padding-top: 0vh;
  height: 100%;
  @media screen and (max-width: 700px) {
    max-width: 100vw;
    max-height: 100%;
    margin-top: 0;
    white-space: nowrap;
    overflow-x: scroll;
    padding-top: 0;
  }
  padding-bottom: 2vh;
  margin-top: 1vh;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }
  // ::-webkit-scrollbar-thumb {
  //     border-radius: 4px;
  //     background-color: rgba(0,0,0,.5);
  //     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  // }
}

#resource-sidebar-moboset {
  display: flex;
  flex: 1.2;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  display: none;
  @media screen and (min-width: 700px) {
  }
}

#resource-sidebar-folderBar {
  // background-color: red;
  @media screen and (max-width: 700px) {
    // max-width: 100%;
    margin-top: 0;
    max-width: 100vw;
    // padding-bottom: 1vh;
    &::-webkit-scrollbar {
      // height: 5px !important;
      // display: none;
    }
  }
  height: auto;
  &::-webkit-scrollbar {
    height: 0px !important;
    // display: none;
  }
  // background-color: white;
  width: auto;
  margin-top: 2vh;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 5px;
}

#resource-sidebar-suggestions {
  flex: 1;
  text-align: center;
  padding-top: 3vh;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

#resource-bars {
  position: absolute;
  bottom: 7.5%;
  border-radius: 50%;
  // width: 30px;
  padding: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  // z-index: 100;
  display: none;
}

#resource-lightdark {
  @media screen and (max-width: 700px) {
    display: none;
  }
  transform: scale(0.6579);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  // padding-top: 3vh;
  flex: 1;
  &-mobo {
    // z-index: 100000000000000;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    background-color: white;
    top: calc(var(--vh, 1vh) * 0);
    left: 0;
    // display: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow-y: hidden;
    // box-shadow: 0rem -0.5rem 5rem #111;
    display: unset;
    height: calc(var(--vh, 1vh) * 25);
    flex-direction: column;
  }
}

#resource-lightdark-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  flex: 3;
  @media screen and (min-width: 700px) {
    flex: 1;
  }
  padding-left: 1rem;
  padding-top: 2.5vh;
}

.resource-lightdark-empha {
  color: white;
  background-color: #333;
  padding: 0.5rem;
}

#resource-lightdark-slider {
  flex: 4;
  // padding-right: 1rem;
}
.resource-lightdark-caption {
  &-lower {
    padding-top: 2.5rem;
    @media screen and (min-width: 700px) {
      flex: 1;
    }
  }
}

#resource-lightdark-curr {
  color: white;
  background-color: lightblue;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10rem;
  transition: 1s;
}

#resource-loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  @media screen and (max-width: 700px) {
    height: calc(var(--vh, 1vh) * 100);
  }
  width: 100%;
  z-index: 1;
  transform: scale(0.1);
  display: block;
}

#resource-list-loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  // z-index: 1000000000;
  transform: scale(0.25);
  @media screen and (max-width: 700px) {
    transform: scale(0.1);
  }
  // display: none;
}

#loadDocument {
}

@keyframes loading {
  0% {
    background-position: -14vw;
  }
  100% {
    background-position: 20vw;
  }
}

@keyframes bounce {
  0% {
    margin-top: 1rem;
  }
  50% {
    margin-top: 0.5rem;
  }
  100% {
    margin-top: 1rem;
  }
}

.resource-element-ad-capsule {
  opacity: 1;
}

.resource-element-ad {
  background-size: 100% 100%;
  background-image: url("../../img/450_200-Web.png");
  @media screen and (max-width: 700px) {
    background-image: url("../../img/180_85-Mobile.png");
  }
  @media screen and (max-width: 700px) {
    height: 10vh;
  }
  width: 95%;
  position: absolute;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  cursor: pointer;
  color: black;
  height: 19vh;
  box-shadow: 0rem 4px 15px rgba($color: #aaa, $alpha: 0.25);
  border-radius: 0.5rem;
  transition: 0.35s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
}
