body {
  background-color: white;
}

* {
  box-sizing: border-box !important;
}

#resource-up-chevron {
  z-index: 1000000000;
  text-align: center;
  & > img {
    transform: rotateZ(180deg);
    height: 1vh;
  }
  @media screen and (min-width: 700px) {
    display: none;
  }
}

.resource {
  &-down-chevron {
    & > img {
      height: 1vh;
    }
    @media screen and (min-width: 700px) {
      display: none;
    }
  }
  &-sidebar {
    &__header {
      @media screen and (max-width: 700px) {
        font-size: 1.25rem;
        flex: 1.5;
        z-index: 100;
      }
      font-size: 2rem;
      color: black;
      flex: 0.5;
      padding-top: 2rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      font-family: "Raleway", sans-serif;
    }
    &__bars {
      width: 3rem;
      height: 3rem;
      color: white;
    }
    &__footer {
      @media screen and (max-width: 400px) {
        font-size: 1.25rem;
        margin: 50px 0px;
        padding: 5px;
      }
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 75px 0px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 3px;
      transition: 0.25s;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    &-folderChip {
      background-color: white;
      padding: 0.8vh 2vw;
      // display: inline;
      // margin-top: 1rem;
      font-size: 1rem;
      border-radius: 100rem;
      color: black;
      cursor: pointer;
      margin-right: 1rem;
      font-family: "Roboto" sans-serif !important;
      box-shadow: 0 0 1px 1px #e94b3c;
    }
  }
  &-element {
    // height: 5vh;
    // max-width: 10vh;
    // font-size: 2rem;
    // box-shadow: 0 0 5px 1px lightgrey;
    cursor: pointer;
    font-family: "Roboto" sans-serif !important;
    // margin-left: 1rem;
    // background-color: blue;
    color: black;
    padding: 0.5rem;
    font-family: "Roboto", sans-serif;
    // border-bottom: 2px solid white;
    display: block;
    word-wrap: break-word;
    // background-color: white;
    margin-top: 1.5rem;
    min-height: 7.5vh;
    box-shadow: 0rem 0.1rem 0.5rem #ddd;
    border-radius: 0.5rem;
    // padding-left: 1rem;
    transition: 0.35s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // background-color: #fefefe;
    // padding-right: 1rem;
    // padding-bottom: 0.5rem;
    background-color: white;
    color: #e94b3c;
    @media screen and (max-width: 700px) {
      display: inline-flex;
      height: calc(var(--vh, 1vh) * 3.5);
      padding: 0;
      margin-right: 2rem;
      width: 40vw;
      font-size: 1.45rem;
      color: white;
      background-image: linear-gradient(
        135deg,
        #e94b3c 0%,
        rgb(255, 255, 255) 270%
      );
    }
    &:hover {
      box-shadow: 0rem 0.35rem 0.5rem #ddd;
    }
    &-thumbnail {
      flex: 1;
      transition: 0.5s;
      box-shadow: 0rem 0rem 0.5rem #ddd;
      &:hover {
        box-shadow: 0.15rem 0rem 0.5rem #ddd;
      }
    }
    // &:active{
    //   background-color: red;
    //   // co
    // }
    // margin-top: 10px;
    // height: 100px;
    // border-radius: 1rem;
    // padding: 0.5rem;
    // background-color: white;
    overflow: hidden;
    // &:last-child {
    //   border: 0;
    // }
    &-icon {
      color: whitesmoke;
      float: left;
    }
  }
  &-hub {
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    &-document {
      &-main {
        flex: 5;
        position: relative;
        transition: 0.5s;
        // filter: invert(1);
      }
      &-ads {
        // flex: 2;
        background-color: rgba($color: #ffffff, $alpha: 0.4);
        // background-color: white;
      }
    }
  }
  &-loaded {
    &-document {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

#resource {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../img/Resource-bg.svg");
  background-size: cover;
}

#resource-sidebar {
  @media screen and (max-width: 700px) {
    width: 100vw;
    position: absolute;
    top: calc(var(--vh, 1vh) * 75);
    left: 0;
    z-index: 100;
    // display: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow-y: hidden;
    // box-shadow: 0rem -0.5rem 5rem #111;
    height: calc(var(--vh, 1vh) * 25);
    box-shadow: 0.1rem 0rem 1rem #777;
    flex-direction: column;
  }
  position: relative;
  overflow-y: hidden;
  transition: 0.1s;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 30%;
  z-index: 10000;
  background-color: white;
  transition: 0.5s ease-in-out;
}

#resource-ads {
  height: 100vh;
  width: 15vw;
  padding-top: 10vh;
  background-color: white;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

#resource-sidebar-mobo {
  &-seek {
    height: 100%;
    width: 70%;
    background-color: grey;
  }
  z-index: 150;
  position: absolute;
  top: 15px;
  left: 10vw;
  width: 80vw;
  height: 3px;
  opacity: 0;
  @media screen and (min-width: 700px) {
    display: none;
  }
}

#resource-sidebar-minibar {
  @media screen and (max-width: 700px) {
    display: none;
  }
  height: 100%;
  width: 19%;
  display: flex;
  justify-content: center;
  background-color: #e94b3c;
  // background-color: white;
}

#resource-sidebar-search {
  margin-right: 0;
  &-input {
    padding-left: 0.5rem;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
    background-color: #eee;
  }
  @media screen and (max-width: 700px) {
    margin-top: 2rem;
    // display: none;
  }
  // max-height: 100%;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}

.resource-sidebar-search-icon {
  max-height: 1.5em;
}

#resource-body {
  max-height: calc(var(--vh, 1vh) * 100) !important;
  // @supports (-webkit-appearance:none) {
  //   .os-android & {
  //     min-height: calc(100vh - 56px);
  //   }
  // }
  overflow: hidden;
  box-sizing: border-box !important;
  // overflow: hidden;
}

html {
  height: 100%;
}

// #resource-ove {
//   height: 100%;
//   width: 19%;
//   background-color: #E94B3C;
//   // background-color: white;
// }

#resource-lightdark-slider:first-child {
  margin-top: 0;
  font-size: 1.6em;
}

#resource-sidebar-content {
  @media screen and (max-width: 700px) {
    width: 100%;
    text-align: center;
  }
  height: 100%;
  width: 85%;
  box-shadow: 0.1rem 0rem 1rem #777;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#resource-overlay-document-payload {
  // display: none;
  z-index: 1 !important;
}

#resource-grid {
  @media screen and (max-width: 700px) {
    height: 20vh;
    overflow-x: scroll;
    white-space: nowrap;
    // background-color: blue;
    flex: 3;
    margin-top: 0;
  }
  height: 100%;
  width: 100%;
  position: relative;
  //   padding: 1rem 2rem;
  // background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 3rem;
  color: red;
  background-color: white;
  margin-top: 1rem;
  // padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  // background-image: linear-gradient(135deg, #E94B3C 0%, rgb(255, 255, 255) 170%);
  flex: 8;
}

#resource-elements-keep {
  padding-top: 0vh;
  height: 100%;
  @media screen and (max-width: 700px) {
    max-width: 100vw;
    max-height: 100%;
    margin-top: 0;
    white-space: nowrap;
    overflow-x: scroll;
    padding-top: 0;
  }
  padding-bottom: 2vh;
  margin-top: 1vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }
  // ::-webkit-scrollbar-thumb {
  //     border-radius: 4px;
  //     background-color: rgba(0,0,0,.5);
  //     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  // }
}

#resource-sidebar-moboset {
  display: flex;
  flex: 1.2;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  display: none;
  @media screen and (min-width: 700px) {
  }
}

#resource-sidebar-folderBar {
  // position: fixed;
  @media screen and (max-width: 700px) {
    max-width: 100%;
    padding-bottom: 1vh;
  }
  &::-webkit-scrollbar {
    height: 5px !important;
    // display: none;
  }
  background-color: white;
  width: 100%;
  padding: 1rem;
  padding-bottom: 1.5vh;
  max-width: 15vw;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

#resource-sidebar-suggestions {
  flex: 1;
  text-align: center;
  padding-top: 3vh;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

#resource-hub {
  height: 100vh;
  width: 100%;
  @media screen and (max-width: 700px) {
    height: calc(var(--vh, 1vh) * 100);
  }
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}

#resource-hub-document {
  position: relative;
  height: 100%;
  @media screen and (max-width: 700px) {
    height: calc(var(--vh, 1vh) * 100);
  }
}

#resource-bars {
  position: absolute;
  bottom: 7.5%;
  border-radius: 50%;
  // width: 30px;
  padding: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  z-index: 100;
  display: none;
}

#resource-lightdark {
  @media screen and (max-width: 700px) {
    display: none;
  }
  transform: scale(0.6579);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  // padding-top: 3vh;
  flex: 1;
  &-mobo {
    // z-index: 100000000000000;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    background-color: white;
    top: calc(var(--vh, 1vh) * 0);
    left: 0;
    // display: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow-y: hidden;
    // box-shadow: 0rem -0.5rem 5rem #111;
    display: unset;
    height: calc(var(--vh, 1vh) * 25);
    flex-direction: column;
  }
}

#resource-lightdark-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
  flex: 3;
  @media screen and (min-width: 700px) {
    flex: 1;
  }
  padding-left: 1rem;
  padding-top: 2.5vh;
}

.resource-lightdark-empha {
  color: white;
  background-color: #333;
  padding: 0.5rem;
}

#resource-lightdark-slider {
  flex: 4;
  // padding-right: 1rem;
}
.resource-lightdark-caption {
  &-lower {
    padding-top: 2.5rem;
    @media screen and (min-width: 700px) {
      flex: 1;
    }
  }
}

#resource-lightdark-curr {
  color: white;
  background-color: lightblue;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 10rem;
  transition: 1s;
}

#resource-loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  @media screen and (max-width: 700px) {
    height: calc(var(--vh, 1vh) * 100);
  }
  width: 100%;
  z-index: 1000000000;
  transform: scale(0.1);
  display: none;
}

#resource-list-loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000000000;
  transform: scale(0.25);
  @media screen and (max-width: 700px) {
    transform: scale(0.1);
  }
  // display: none;
}

#resource-sidebar-toggle {
  padding-top: 2rem;
  filter: invert(1);
  width: 60%;
  cursor: pointer;
}

#resource-sidebar-header {
  z-index: 101;
}

#resource-sidebar-toggle-static {
  position: absolute;
  padding-top: 2rem;
  padding-left: 2rem;
  @media screen and (max-width: 700px) {
    display: none;
  }
  width: 5%;
  cursor: pointer;
  z-index: 1000;
}

#loadDocument {
}
