.second-year{
    height: 100vh;
    width: 100%;
    background-color:#F5F5F5;
    text-align: center;
    padding: 1rem 0;
}

.btn__stream{
    &--biotech{
        @include color-year-btn($color-biotech);
    }
    
    &--chemical{
        @include color-year-btn($color-chemical);
    }   

    &--civil{
        @include color-year-btn($color-civil);
    }

    &--cse{
        @include color-year-btn($color-cse);
    }

    &--ece{
        @include color-year-btn($color-ece);
    }

    &--ecs{
        @include color-year-btn($color-ecs);
    }

    &--eic{
        @include color-year-btn($color-eic);
    }

    &--electrical{
        @include color-year-btn($color-electrical);

       
    }

    &--mechanical{
        @include color-year-btn($color-mechanical);
    }

    &--mechatronics{
        @include color-year-btn($color-mechatronics);  
    }

    &--production{
        @include color-year-btn($color-production);
    }
}