.societies{
    position: relative;
    &__nav{
        position: fixed;
        width: 100%;
        background-color: #f5f5f5;
        z-index: 100;
        &--title{
            padding: .5rem;
        }
        &--sort{
            background-color: black;
            color: #f5f5f5;
            padding: .5rem;
        }
    }
    &__card-holder{
        padding-top: 5vh;
    }
    &__cards{
        width: 100%;
        height: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        transition: .5s ease;
        &:hover{
            transform: scale(1.1);
        }
        &--adv-club{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/adventure-club.jpg');
        }
        &--aiesec{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/aiesec.png');
        }
        &--ccs{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/ccs.jpg');
        }
        &--econ{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/econ.jpg');
        }
        &--edc{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/edc.jpg');
        }
        &--enactus{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/enactus.jpg');
        }
        &--faps{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/faps.png');
        }
        &--frosh{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/frosh.jpg');
        }
        &--iete{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/iete.jpg');
        }
        &--iiche{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/iiche.jpg');
        }
        &--iste{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/iste.jpg');
        }
        &--litsoc{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/litsoc.jpg');
        }
        &--msc{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/msc.png');
        }
        &--mudra{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/mudra.jpg');
        }
        &--nox{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/nox.jpg');
        }
        &--owasp{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/owasp.png');
        }
        &--pratigya{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/pratigya.jpg');
        }
        &--pws{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/pws.jpg');
        }
        &--robotics{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/robotics.jpg');
        }
        &--somie{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/somie.jpg');
        }
        &--spic-macay{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/spic-macay.jpg');
        }
        &--tmc{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/tmc.jpg');
        }
        &--toastmasters{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/toastmasters.jpg');
        }
        &--tumun{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/tumun.png');
        }
        &--visual-bulletin{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/visual-bulletin.jpg');
        }
        &--youthunited{
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/youthunited.jpg');
        }
        &--urja
        {
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/urja.png');
        }

        &--saturnalia
        {
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/saturnalia.jpg');
        }

        &--virsa
        {
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/virsa.jpg');
        }

        &--spades
        {
            background-image: linear-gradient(rgba(black,0.67),rgba(black,0.67)), url('../img/societies/spades.jpg');
        }
        &--contact-us{
            background-color: rgba(black,1);
        }

       &--content{
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           text-transform: uppercase;
       }
       hr{
           padding: .2rem;
           width: 15%;
           margin: .5rem auto;
           background-color: white;
           border: 0;
       }
    }
    &__modal{
        &--bg{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(black,0.67);
            z-index: -100;
            opacity: 0;
        }
        outline: 1.5rem solid #f5f5f5;
        outline-offset: 2rem;
        position: absolute;
        top: 50%;
        width:80vw;
        height: 80vh;
        left: 10%;
        transform: translateY(-50%);
        text-align: center;
        border-radius:3px;
        background-color: black;
        @media screen and(max-width:600px){
            outline-offset: 0;
        }
    }
}

.card__height--small{
    height: 35rem;
    overflow: hidden;
}


.div1{
    height: 100%;
    &-logo{
        background-color: #f5f5f5;
        height: 25%;
        background-image: url('../img/societies/CCS/one.png');
        background-position: center;
        background-size: cover;
    }
    &-pic{
        position: relative;
        height: 75%;
        overflow: hidden;
        &:hover &-img{
            filter: brightness(25%);
            transform: scale(1.15);
        }
        &:hover &-text{
            opacity: 1;
        }

        &-img{
            background-image: url('../img/societies/CCS/two.jpg');
            background-position: center;
            height: 100%;
            transition: all .3s;
            background-size: cover;
        }
        &-text{
        position: absolute;
        top: 50%;
        left: 0;;
        transform: translateY(-50%);
        opacity: 0;
        transition: all .3s;
        padding: 0 2.5rem;
    }
}

}
.div2{
    height: 100%;
    &-pic{
        position: relative;
        height: 50%;
        overflow: hidden;
        &:hover &-img-1{
            filter: brightness(25%);
            transform: scale(1.15);
        }
        &:hover &-img-2{
            filter: brightness(25%);
            transform: scale(1.15);
        }
        &:hover &-text{
            opacity: 1;
        }

        &-img-1,&-img-2{
            background-image: url('../img/societies/CCS/three.jpg');
            background-position: center;
            background-size: cover;
            position: absolute;
            height: 100%;
            transition: all .3s;
        }
        &-img-2{
            background-image: url('../img/societies/CCS/four.jpg');
        }
        &-text{
        position: absolute;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
        transition: all .3s;
        padding: 0 5rem;
    }
}
}
.div3{
    height: 100%;
    &-title,&-events,&-about,&-contact{
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
    }
    &-title{
        background-color: black;
        color: #f5f5f5;
        height: 15%;
    }
    &-events{
        background-color: #f5f5f5;
        height: 20%;
        border-top: .25rem solid black;
        border-bottom: .25rem solid black;
    }
    &-about{
        background-color: #f5f5f5;
        height: 50%;
        padding: 0 5rem;
    }
    &-contact{
        background-color: black;
        height: 15%;
        color: #f5f5f5;
    }
}

.societies__filter{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.5rem 1.5rem;
}
.societies__reset{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem 1.5rem;
    opacity: 0;
}
.societies__nav--filter{
    display: none;
}
.societies__nav--sort{
    cursor: pointer;
}
