body{
    height: 100%;
    background-color: $color-gray-light;
}

.menu__subject{

        &--chem{
            background-color: $color-chem;
        }
        &--com{
            background-color: $color-com;
        }
        &--cs1{
            background-color: $color-cs1;
        }
        &--cs2{
            background-color: $color-cs2;
        }
        &--draw1{
            background-color: $color-draw1;
        }
        &--draw2{
            background-color: $color-draw2;
        }
        &--electrical{
            background-color: $color-electrical;
        }
        &--electronics{
            background-color: $color-electronics;
        }
        &--env{
            background-color: $color-env;
        }
        &--math1{
            background-color: $color-math1;
        }
        &--math2{
            background-color: $color-math2;
        }
        &--mech{
            background-color: $color-mech;
        }
        &--phy{
            background-color: $color-phy;
        }
    
}

.subject-heading{
    &__chem--heading-color{
        font-size: inherit;
        color: $color-chem;
    }
    &__com--heading-color{
        font-size: inherit;
        color: $color-com;
    }
    &__cs1--heading-color{
        font-size: inherit;
        color: $color-cs1;
    }
    &__cs2--heading-color{
        font-size: inherit;
        color: $color-cs2;
    }
    &__draw1--heading-color{
        font-size: inherit;
        color: $color-draw1;
    }
    &__draw2--heading-color{
        font-size: inherit;
        color: $color-draw2;
    }
    &__electrical--heading-color{
        font-size: inherit;
        color: $color-electrical;
    }
    &__electronics--heading-color{
        font-size: inherit;
        color: $color-electronics;
    }
    &__env--heading-color{
        font-size: inherit;
        color: $color-env;
    }
    &__math1--heading-color{
        font-size: inherit;
        color: $color-math1;
    }
    &__math2--heading-color{
        font-size: inherit;
        color: $color-math2;
    }
    &__mech--heading-color{
        font-size: inherit;
        color: $color-mech;
    }
    &__phy--heading-color{
        font-size: inherit;
        color: $color-phy;
    }
}

.btn__subject{
    &--chem{
        @include color-subject-btn($color-chem);
    }

    &--com{
        @include color-subject-btn($color-com);
    }

    &--cs1{
        @include color-subject-btn($color-cs1);
    }

    &--cs2{
        @include color-subject-btn($color-cs2);
    }

    &--draw1{
        @include color-subject-btn($color-draw1);
    }

    &--draw2{
        @include color-subject-btn($color-draw2);
    }

    &--electrical{
        @include color-subject-btn($color-electrical);
    }

    &--electronics{
        @include color-subject-btn($color-electronics);
    }

    &--env{
        @include color-subject-btn($color-env);
    }

    &--math1{
        @include color-subject-btn($color-math1);  
    }

    &--math2{
        @include color-subject-btn($color-math2);
    }

    &--mech{
        @include color-subject-btn($color-mech);
    }

    &--phy{
        @include color-subject-btn($color-phy);
    }
}
