.popup{
    height: 100vh;
    width:100%;
    background-color: rgba(42, 36, 36, 0.8);
    transition: all .3s;


  &:target{
    opacity:1;
    visibility: visible;
  }
  &-content{
    width: 50%;
    background-color: #eee;
    box-shadow: 0 2rem 3rem rgba(1, 1, 1, 0.2);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 1rem;

  @media screen and (max-width:1280px){
    width: 50%;
  }
  @media screen and (max-width:900px){
  }
  @media screen and (max-width:600px){
    width:85%;
  }
    &__heading{
      margin-top: 2rem;
    }
  }
  &__close{
    font-size: 3.5rem;
    position: absolute;
    left: 92%;
  }
  &__selector{
    width:90%;
    margin: 1.5rem;
    padding: 0.5rem;
  }

   &-yr{
     margin-top:4rem;
   }
  }

  .btn-submit{
    text-align: center;
    padding: 3rem;
  }
  .submit{
     text-align: center;
     padding: 1rem 2rem ;
     margin: 0 auto;
     background-image:  linear-gradient(to right,rgb(76, 201, 99),rgba(21, 189, 48, 0.84));
     color: white;
     border-radius: 300px;
     @media screen and (max-width:600px){
       width:90%;

     }
  }


  .time-table{
      &__help{
          padding: 3rem;
      }

  }



  .card{
      &__collect{
          padding: 3rem;
          max-width: 23.3vw !important;
      }
      &__body{
          position: relative;
          min-height: 500px;
      }
      &__image{
          width: 90%;
          margin: 1rem;
      }
      &__text{
      }
  }

  .instructions{
    font-size: 12rem;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top:97vh;
    left: auto;
  }

  .navdown{
    width:5rem;
  }

.video{
  background-color:#FF951F;
  text-align:center;
  padding:1rem;
  box-shadow:0 0 0.5rem rgba(1, 1, 1, 0.2);

  &-text{
    font-size:2.5rem;
    font-family: 'Raleway', sans-serif;
    color:#eee;

  &__link{
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    color:#eee;
    text-decoration:underline;
  }
}
@media screen and (max-width: 600px){
  font-size:1.5rem;
}
@media screen and (min-width: 2560px){
  font-size: 3.5rem;
}
}
