.vlec {
  // height: 200vh;

  &--yellow{
    overflow-x: hidden;
    background-color: #eee;
    // background-color: rgba(237, 147, 2, 0.7);
    // background-image: url('../img/vLecture/chem.jpg');
    // background-size: cover;

  }
  &__nav{
    width: 100%;
    top: 0;
    position: fixed;
    height: 12vh;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &__logo{

  }
  &__title{
    font-size: 8rem;
  }
  &__section{
    // display: none;
    width: 500%;
    height: 45vh;
    max-height: 45vh;
    overflow-x: scroll;
    background-color: red;
    background-color: rgb(237, 147, 2);
    margin-top: 25vh;
    // box-shadow:inset 0px 0px 25px rgba(0,0,0,.5);
    overflow: visible;
    &__head{
      font-size: 12rem;
      margin-left: 2.5vw;
      color: white;
      & > span {
        font-size: 11rem;
      }
    }
    &:hover{
      // transform: scaleX(1.2);
      // transition: 0.5s;
      & > .vlec__section__grid{
        // & > .vlec__section__grid__element{
        //   transform: scaleX(0.8333);
        //   transition: 0.5s;
        // }
        // & > .vlec__section__grid__element:hover{
        //   transform: scale(1.2);
        //   transition: 0.5s;
        // }
      }
      // &:last-of-type{
      //   margin-bottom: 20vh;
      // }
    }
      &__grid{
        // overflow-x: scroll;
        &__element{
          // line-height: 4rem;
          font-size: 2rem;
          transition: 0.25s;
          // float: top;
          text-align: center;
          display: inline-block;
          // transform: translateY(-50%);
          margin-top: 1.5vh;
          margin-left: 2vw;
          height: 32vh;
          width: 27.5vw;
          // width: 500%;
          // max-width: 30vw;
          box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
          border-radius: 2% 0% 0% 0% / 20% 0% 0% 0%;
          border-radius: 0.75rem;
          background-color: whitesmoke;
          & > span {
            top: 50%;
            transform: translate3d(0, -50%, 0);
          }
          // &:hover{
          //   background-color: #ddd;
          //   transform: scale(1.45);
          //   transition: 0.5s;
          // }
        }
      }
    }
  }
