.brch{
  // overflow-x: hidden;
  // overflow-y: hidden;
  &__mini{
    position: absolute;
    top: -15vh;
    left: 0;
    height: 12vh;
    background-color: rgba(255,255,255,0.75);
    display: block;
    width: 100%;
  }
  &__section {
    height: 100vh;
    width: 100%;
  }
  &__landing{
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    // background-image: radial-gradient(#0000ee 0%, #000  150%);
    background-image: url('../img/businessbg2.jpg');
    background-size: cover;
    &__heading{
      color: white;
    }
    &__heading__primary{
      margin-top: 35vh;
      font-size: 10rem;
      // font: bold 200px arial, sans-serif;
      background-color: white;
      color: white;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
         -moz-background-clip: text;
            background-clip: text;
      @media screen and (min-width: 200px){
        font-size: 5rem;
      }
      @media screen and (min-width: 1024px){
        font-size: 7rem;
      }
      @media screen and (min-width: 1280px) {
        font-size: 8rem;
      }
      @media screen and (min-width: 1360px){
        font-size: 10rem;
      }
      @media screen and (min-width: 1600px){
        font-size: 11.75rem;
      }
      @media screen and (min-width: 1920px){
        font-size: 2.5rem;
      }
      @media screen and (min-width: 2560px){
        font-size: 2.5rem;
      }
      @media screen and (min-width: 3840px) {
        font-size: 2rem;
      }
    }
    &__heading__secondary{
      font-size: 5rem;
      @media screen and (min-width: 200px){
        font-size: 3rem;
      }
      @media screen and (min-width: 900px){
        font-size: 5rem;
      }
      @media screen and (min-width: 1024px){
        font-size: 3.25rem;
      }
      @media screen and (min-width: 1280px){
        font-size: 3.25rem;
      }
      @media screen and (min-width: 1360px){
        font-size: 5rem;
      }
      @media screen and (min-width: 1600px) {
        font-size: 6rem;
      }
    }
    &__heading__tiertary{
      font-size: 5rem;
    }
    &__icon{
      position: absolute;
      left: 2vw;
      margin-top: 2.5vh;
      height: 5rem;
      filter: invert(1);
    }
  }
  &__adwords{
    position: relative;
    background-image: radial-gradient(#117EE7 10%, #6ac6fc 150%);
    // border-radius: 3rem;
    &__panel1, &__panel2{
      position: absolute;
      height: 45vh;
      width: 95vw;
      top: 4vh;
      left: 50%;
      // line-height: 3rem;
      transform: translateX(-50%);
      // margin-top: 5vh;
      // margin-left: 50%;
      border-radius: 1.5rem;
      background-color: rgba(245, 245, 245, 0.65);
      &__side{
        float: right;
        margin-bottom: 0%;
        height: 60%;
        background-color: rgba(245, 245, 245, 0.45);
        width: 15vw;
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
      }
      &__text{
        position: absolute;
        top: 2.5vh;
        left: 25.5vw;
        // color: white;
        color: #333;
        font-size: 3rem;
        @media screen and (min-width: 200px){
          top: 1.5vh;
          left: 64vw;
          font-size: 1rem;
        }
        @media screen and (min-width: 900px){
          top: 2.5vh;
          left: 25.5vw;
          font-size: 3rem
        }
        @media screen and (min-width: 1024px){
          font-size: 2.25rem;
          left: 28.5vw;
        }
        @media screen and (min-width: 1280px){
          font-size: 2.55rem;
          left: 28.5vw;
        }
        @media screen and (min-width: 1360px){
          font-size: 3rem;
          left: 26.5vw;
        }
        @media screen and (min-width: 1600px){
          font-size: 3.75rem;
          left: 28.5vw;
        }
        @media screen and (min-width: 1900px){
          font-size: 4rem;
          left: 28.5vw;
        }
        @media screen and (min-width: 2560px){
          font-size: 8.25rem;
          left: 26.5vw;
        }
        &metric{
          font-family: 'Roboto', sans-serif;
          @media screen and (min-width: 200px){
            display: none;
          }
          @media screen and (min-width: 900px){
            display: block;
          }
          // font-weight: 500;
        }
      }
    }
    &__panel__mobo{
      display: none;
      @media screen and(min-width: 200px){
        display: block;
        position: absolute;
        top: 32vh;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(245, 245, 245, 0.75);
        border-radius: 1.5rem;
        width: 95vw;
        height: 25vh;
      }
      @media screen and (min-width: 900px){
        display: none;
      }
    }
    &__panel1{
      height: 35vh;
      @media screen and(min-width: 200px){
        height: 25vh;
        // background-color: red;
      }
      @media screen and (min-width: 900px){
        height: 35vh;
      }
      &__textmetric__mobo {
        text-align: center;
        font-size: 1.05rem;
      }
      &__texting {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 3.05rem !important;
        &__mobo{
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: 1.75rem;
          &__metric{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
          }
        }
        @media screen and (min-width: 200px){
          display: none;
        }
        @media screen and (min-width: 900px){
          display: block;
          font-size: 3.05rem !important;
        }
      }
    }
    &__panel2 {
      top: 42vh;
      height: 55vh;
      @media screen and (min-width: 200px){
        top: 61vh;
        height: 25vh;
        // background-color: red;
      }
      @media screen and (min-width: 900px){
        top: 42vh;
        height: 55vh;
      }
      &__text{
        top: 3vh;
        left: 71vw;
        font-size: 2.75rem;
        @media screen and (min-width: 200px){
          font-size: 1rem;
        }
        @media screen and (min-width: 900px){
          font-size: 2.75rem
        }
        @media screen and (min-width: 1024px) {
          font-size: 2rem;
        }
        @media screen and (min-width: 1280px) {
          font-size: 2.65rem;
        }
        @media screen and (min-width: 1360px) {
          font-size: 2.75rem;
        }
        @media screen and (min-width: 1600px) {
          font-size: 3.5rem;
        }
        // @media screen and (min-width: 1024px) {
        //   font-size: 2rem;
        // }
      }
      &__text > span{
        font-family: 'Roboto', sans-serif;
        font-size: 2.45rem;
        font-weight: 300;
        @media screen and (min-width: 200px){
          font-size: 1rem;
        }
        @media screen and (min-width: 900px){
          font-size: 2.45rem;
        }
        @media screen and (min-width: 1024px) {
          font-size: 2.15rem;
        }
        @media screen and (min-width: 1600px) {
          font-size: 3.25rem;
        }
      }
    }
    &__panel1 > img{
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
      height: 35vh;
      @media screen and (min-width: 200px) {
        height: 25vh;
        width: 62.5vw;
      }
      @media screen and (min-width: 900px) {
        height: 35vh;
        width: auto;
      }
    }
    &__panel2 > img {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
      width: 70vw;
      height: 100%;
      @media screen and (min-width: 200px){
        // margin-top: 70vh;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        width: 95vw;
      }
      @media screen and (min-width: 900px){
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
        width: 70vw;
      }
    }
  }
  &__intro{
    position: relative;
    background-image: url(../img/wave2.jpg);
    background-size: 100vw 120vh;
    overflow-x: hidden;
    overflow-y: hidden;
    &Collect {
      position: absolute;
      left: 7vw;
      top: 10vh;
      @media screen and (min-width: 200px){
        top: 2.5vh;
        // left: 50vw;
      }
      @media screen and (min-width: 900px){
        top: 10vh;
        // left: 50vw;
      }
    }
    &__head{
      font-size: 6rem;
      width: 69vw;
      color: white;
      background-image: linear-gradient( to left, transparent 64px, #F243B3 30%, #FFCA47 100%);
      background-image: linear-gradient( to left, transparent 64px, #a442f4 30%, rgba(0, 245, 245, 0.95) 100%);
      @media screen and (min-width: 200px){
        background-image: linear-gradient( to left, transparent 64px, #a442f4 30%, rgba(0, 245, 245, 0.95) 100%);
        font-size: 2.45rem;
        width: 69vw;
      }
      @media screen and (min-width: 900px){
        background-image: linear-gradient( to left, transparent 64px, #a442f4 30%, rgba(0, 245, 245, 0.95) 100%);
        font-size: 6rem;
        width: 69vw;
      }
      @media screen and (min-width: 1024px){
        font-size: 4.5rem;
      }
      @media screen and (min-width: 1280px) {
        font-size: 5rem;
      }
      @media screen and (min-width: 1360px){
        font-size: 6rem;
      }
      @media screen and (min-width: 1600px){
        font-size: 7.5rem;
      }
      @media screen and (min-width: 1920px){
        font-size: 2.5rem;
      }
      @media screen and (min-width: 2560px){
        font-size: 2.5rem;
      }
    }
    &__text{
      // position: absolute;
      text-align: left;
      font-size: 3rem;
      width: 47vw;
      margin-bottom: 3rem;
      @media screen and (min-width: 200px){
        font-size: 2rem;
        width: 90vw;
      }
      @media screen and (min-width: 900px){
        top: 3rem;
        width: 47vw;
      }
      @media screen and (min-width: 1024px){
        font-size: 2.5rem;
      }
      @media screen and (min-width: 1280px) {
        font-size: 2.9rem;
      }
      @media screen and (min-width: 1360px){
        font-size: 3rem;
      }
      @media screen and (min-width: 1600px){
        font-size: 4rem;
      }
      @media screen and (min-width: 1920px){
        font-size: 2.5rem;
      }
      @media screen and (min-width: 2560px){
        font-size: 2.5rem;
      }
    }
  }
  &__pricing{
    background-image: linear-gradient(to right, rgba(0, 245, 245, 0.95) 0%, rgba(0, 0, 245, 1) 100%);
    // background-color: blue;
    background-size: cover;
    // @media screen and (min-width: 200px){
    //   display: none;
    // }
  }
  &__numbox{
    text-align: center;
    position: absolute;
    font-weight: 400;
    font-size: 7rem;
    top: 70vh;
    left: 52.5vw;
    z-index: 1;
    @media screen and (min-width: 200px){
      font-size: 3rem;
      top: 32vh;
      left: 50vw;
      transform: translateX(-50%);
    }
    @media screen and (min-width: 900px){
      font-size: 7rem;
      top: 70vh;
      left: 52.5vw;
      transform: translateX(0);
    }
    // text-shadow: 1rem 1rem #eee;
  }
  &__youruser {
    font-family: 'Jura', sans-serif;
    @media screen and (max-width: 900px){
      font-size: 4rem;
    }
  }
  &__numtag{
    font-size: 2rem;
  }
  &__phoneCollect{
    position: absolute;
    top: 10vh;
    right: -10vw;
    @media screen and (min-width: 200px){
      top: 42.5vh;
      right: -50vw;
    }
    @media screen and (min-width: 900px){
      top: 10vh;
      right: -10vw;
    }
  }
  &__phone{
    height: 85vh;
    width: 60vw;
    @media screen and (min-width: 200px){
      width: 200vw;
    }
    @media screen and (min-width: 900px){
      width: 60vw;
    }
    @media screen and (min-width: 1024px){
      font-size: 7rem;
    }
    @media screen and (min-width: 1360px){
      font-size: 10rem;
    }
  }
  &__noti{
    display: none;
    &__shell {
      height: 10.5vh;
      width: 18vw;
      top: 27vh;
      left: 50%;
      position: absolute;
      background-color: rgba(245, 245, 245, 0.65);
      border-radius: 1rem;
      transform: translateX(-50%);
      @media screen and (min-width: 200px){
        width: 60vw;
      }
      @media screen and (min-width: 900px){
        width: 18vw;
      }
      @media screen and (min-width: 1024px) {
        height: 10.5vh;
      }
      @media screen and (min-width: 1600px) {
        height: 9.5vh;
      }
      &__head{
        color: #333;
        margin-left: 1vw;
        margin-top: 0.75vh;
        font-family: Helvetica Neue,Helvetica,sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        @media screen and (min-width: 1024px){
          font-size: 1rem;
        }
        @media screen and (min-width: 1280px){
          font-size: 1.35rem;
        }
        @media screen and (min-width: 1360px){
          font-size: 1.25rem;
        }
        @media screen and (min-width: 1600px){
          font-size: 1.75rem;
        }
        @media screen and (min-width: 1920px){
          font-size: 2.5rem;
        }
        @media screen and (min-width: 2560px){
          font-size: 2.75rem;
        }
        // letter-spacing: 0.15rem;
      }
      &__timeText {
        color: #333;
        margin-left: 1vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 0.05rem;
        font-size: 1rem;
        @media screen and (min-width: 1280px){
          font-size: 1.15rem;
        }
        @media screen and (min-width: 1600px) {
          font-size: 1.55rem;
        }
        @media screen and (min-width: 2560px){
          font-size: 2.4rem;
        }
      }
    }
    &__tag{
      width: 100%;
      height: 4vh;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: rgba(245, 245, 245, 0.45);
      &__img{
        display: inline-block;
        margin-top: 0.5vh;
        margin-left: 1.5vh;
        line-height: 1.5rem;
        height: 2rem;
        border-radius: 0.25rem;
        @media screen and (min-width: 200px){
          margin-top: 0.75vh;
          height: 1.45rem;
        }
        @media screen and (min-width: 900px){
          margin-top: 0.5vh;
          height: 2rem;
        }
        @media screen and (min-width: 1024px){
          height: 1.6rem;
        }
        @media screen and (min-width: 1280px){
          margin-top: 0.75vh;
          height: 1.75rem;
        }
        @media screen and (min-width: 1300px){
          height: 2rem;
        }
        @media screen and (min-width: 1600px){
          height: 2.25rem;
        }
        @media screen and (min-width: 1920px){
          height: 2.5rem;
        }
        @media screen and (min-width: 2560px){
          height: 2.5rem;
        }
      }
      &__head{
        text-transform: uppercase;
	      background: linear-gradient(to right, #FA0084 0%, #330867 100%);
	      -webkit-background-clip: text;
	      -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        top: 11.5%;
        left: 15%;
        display: inline-block;
        color: rgba(255,255,255,0.15);
        letter-spacing: 0.1rem;
        font-size: 1.05rem;
        @media screen and (min-width: 1024px) {
          font-size: 0.95rem;
        }
        @media screen and (min-width: 1280px) {
          top: 10%;
          font-size: 1.15rem;
        }
        @media screen and (min-width: 1600px) {
          top: 12.5%;
          font-size: 1.35rem;
        }
      }
    }
  }
  &__noti2{
    display: none;
    &__shell {
      height: 10.5vh;
      width: 18vw;
      top: 27vh;
      left: 50%;
      position: absolute;
      background-color: rgba(245, 245, 245, 0.65);
      border-radius: 1rem;
      transform: translateX(-50%);
      @media screen and (min-width: 200px){
        // top: 50vh;
        width: 60vw;
      }
      @media screen and (min-width: 900px){
        width: 18vw;
      }
      &__head{
        color: #333;
        margin-left: 1vw;
        margin-top: 0.75vh;
        font-family: Helvetica Neue,Helvetica,sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        // letter-spacing: 0.15rem;
      }
      &__timeText {
        color: #333;
        margin-left: 1vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 0.05rem;
        font-size: 1rem;
      }
    }
    &__tag{
      width: 100%;
      height: 4vh;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      background-color: rgba(245, 245, 245, 0.45);
      &__img{
        display: inline-block;
        margin-top: 0.5vh;
        margin-left: 1.5vh;
        line-height: 1.5rem;
        height: 2rem;
        border-radius: 0.25rem;
      }
      &__head{
        text-transform: uppercase;
	      background: linear-gradient(to right, #FA0084 0%, #330867 100%);
	      -webkit-background-clip: text;
	      -webkit-text-fill-color: transparent;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        top: 11.5%;
        left: 15%;
        display: inline-block;
        color: rgba(255,255,255,0.15);
        letter-spacing: 0.1rem;
        font-size: 1.05rem;
        @media screen and (min-width: 1280px){
          font-size: 1.95rem;
        }
        // @media screen and (min-width: 1280px){
        //   font-size: 1.5rem;
        // }
        // @media screen and (min-width: 1280px){
        //   font-size: 1.5rem;
        // }
      }
    }
  }
  &__plan{
    background-color: transparent;
    margin-left: 7.5vw;
    width: 85vw;
    height: 70vh;
    &__tableCollect{
      font-weight: 400;
      text-align: center;
      line-height: 14vh;
    }
    &__rowHolder{
      // margin: 0;
      // padding: 0;
      font-size: 2rem;
      margin-top: 15vh;
      display: inline-block;
      height: 70vh;
      width: 20%;
      background-color: rgba(255, 255, 255, 0.95);
      &Default__head{
        height: 20%;
      }
      &Default__text{
        font-size: 1.95rem;
        height: 20%;
      }
      &Default__price{
        font-size: 2em;
        height: 20%;
      }
    }
    &1{
      display: inline-block;
      height: 70vh;
      width: 20%;
      font-size: 2rem;
      background-color: rgba(255, 255, 255, 0.75);
      &__head{
        font-size: 3.15rem;
        height: 20%;
      }
      &__text{
        height: 20%;
      }
      &__price{
        height: 20%;
        font-size: 1.75em;
      }
    }
    &2{
      font-size: 2rem;
      display: inline-block;
      width: 20%;
      height: 70vh;
      background-color: rgba(255, 255, 255, 0.95);
      &__head{
        font-size: 3.15rem;
        height: 20%;
      }
      &__text{
        height: 20%;
      }
      &__price{
        height: 20%;
        font-size: 1.75em;
      }
    }
    &3{
      font-size: 2rem;
      display: inline-block;
      height: 70vh;
      width: 20%;
      background-color: rgba(255, 255, 255, 0.75);
      &__head{
        font-size: 3.15rem;
        height: 20%;
      }
      &__text{
        height: 20%;
      }
      &__price{
        height: 20%;
        font-size: 1.75em;
      }
    }
    &4{
      font-size: 2rem;
      display: inline-block;
      height: 70vh;
      width: 19%;
      background-color: rgba(255, 255, 255, 0.95);
      &__head{
        font-size: 3.15rem;
        height: 20%;
      }
      &__text{
        height: 20%;
      }
      &__price{
        font-size: 1.75em;
        height: 20%;
      }
    }
  }
}

.underline {
  position: relative;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: -3px;
    height: 4px;
    background-color: #ddd;
    width: 0;
    transition: width .4s;
  }
}

.adwords{
  box-sizing: border-box;
  // margin-top: 7.5vh;
  position: absolute;
  top: 5vh;
  left: 7.5vw;
  height: 90vh;
  width: 85vw;
  border-top-left-radius: 15rem;
  background-color: rgba(255, 255, 255, 0.85);
  &__infopalletCollect{
    // display: inline-grid;
    border-radius: 15rem;
    height: 100%;
    // width: 50%;
    // border: 1px solid orangered;

    &__1{
      float: left;
      display: inline-block;
      // border: 1px solid orangered;
      height: 100%;
      width: 30%;
      border-top-left-radius: 3rem;
    }
    &__1a{
      float: left;
      display: inline-block;
      // border: 1px solid orangered;
      height: 60%;
      width: 100%;
      border-top-left-radius: 3rem;
      &__img{
        border-top-left-radius: 3rem;
        height: 100%;
        width: 100%;
      }
    }
    &__1b{
      float: left;
      display: inline-block;
      // border: 1px solid orangered;
      height: 40%;
      width: 100%;
    }
    &__setter__1{
      display: inline-block;
      // border: 1px solid orangered;
      height: 100%;
      width: 70%;
      float: right;
    }
    &__2{
      display: inline-block;
      // border: 1px solid orangered;
      height: 60%;
      width: 100%;
      &__img{
        // height: 100%;
        width: 100%;
      }
    }
    &__3{
      display: inline-block;
      // border: 1px solid orangered;
      height: 40%;
      width: 50%;
      &__img{
        // height: 100%;
        width: 100%;
      }
    }
    &__4{
      display: inline-block;
      border: 1px solid orangered;
      height: 40%;
      width: 50%;
      float: right;
      &__img{
        height: 100%;
        width: 100%;
      }
    }
  }
}

.signinCollect{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.25);
}

.btn__signin{
  padding: 0.25rem;
  font-size: 2.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5rem;
  transform: translate3d(-50%, -50%, 0);
}

// .brch__text{
//   @media screen and (min-width: 2560px){
//     font-size: 29em !important;
//   }
// }
